src/compare.pug
doctype html
html
	head
		// Google Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WV9HWZH');
		// End Google Tag Manager
		link(rel='dns-prefetch', href='http://www.evodesk.com')
		link(rel='dns-prefetch', href='http://d17bplqo9q3lum.cloudfront.net')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Compare standing desks | Evodesk
		meta(name='description', content='Evodesk represents an entirely new look at the standing desk. It heralds the future of the desk and you can be there at the start.')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='../css/styles.css')
		link(rel='stylesheet', href='../css/navbar-styles.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='../js/nav.js')
		script(src='../js/plugins.js')
		meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
		style(type='text/css').
			.fa-check-circle { color:#00bbde; font-size:40px;}
			.fa-times-circle-o { color:#999; font-size:40px;}
			#compareNav {color: #00bbde;
			box-shadow: inset 0 4px 0 #00bbde;}
			#product-header { display:none;}
			@media all and (max-width: 900px) {
			#compare-nav  {color: #00bbde !important;border-top: none;}
			}
	body
		#max-wrapper
			include navbar
			main.cd-main-content
				// #EndLibraryItem
				section#banner-compare
					.wrapper-container
						.keepItRealContent
							h2 Compare Evodesk
							h3 Innovation
							p
								| Evodesk didn’t invent the standing desk. We did make the most feature-packed desk in its class. And we made it affordable. Evolution at its best. See how Evodesk stacks up.
						img#compare-banner-image.absolute.z-back.animated.fadeIn(src='http://www.evodesk.com/img/evodesk-compare.png', width='1071', height='631', alt='evodesk compare')
				section#compare-body
					.wrapper-container
						table#compare-table-header.responsive
							tr
								td.table-title
									h1
										span Compare
										|  Standing Desks
								td.logo-column
									img(src='http://www.evodesk.com/img/evodesk-logo-white.png', width='260', height='39', alt='evodesk logo white')
								td.other-column The Other Guys
						table#compare-table.responsive
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#expandable-frame')
										| Expandable Frame 
										i.fa.fa-plus-square-o
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Weight capacity
								td.product-column 355 lbs
								td.product-column 154 lb
							tr
								td.table-feature Speed
								td.product-column 1.5 inches per second
								td.product-column 1 inch per second
							tr
								td.table-feature Maximum Height
								td.product-column 49.5”
								td.product-column 47”
							tr
								td.table-feature Desktop Composition
								td.product-column Recycled Composite Wood
								td.product-column Particleboard
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#recycled-wood')
										| 100% recycled wood desktop 
										i.fa.fa-plus-square-o
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Plastic-Free Desktop
								td.product-column
									i.fa.fa-check-circle
								td.product-column Plastic laminate standard
							tr
								td.table-feature Comfort Edges & Radius Corners
								td.product-column
									i.fa.fa-check-circle
								td.product-column Sharp laminated edges & corners
							tr
								td.table-feature Environmentally Friendly Solvent-Free Metal  Finish 
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Easy start/soft stop
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Predrilled Desktops
								td.product-column
									i.fa.fa-check-circle
								td.product-column Varies
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#posi-loc')
										| Posi-Loc™ Steel Deskop Inserts 
										i.fa.fa-plus-square-o
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Zero Solvent Based Paints
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Decibel level during movement
								td.product-column 45 db
								td.product-column 52 db
							tr
								td.table-feature Assembly Time
								td.product-column Yes, 15 min or less assembly
								td.product-column No, 1 hour assembly
							tr
								td.table-feature Desktop Made In USA
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Fingerprint Resistant Desktop
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#oversized-grommet')
										| Oversized 3” x 6” Grommet 
										i.fa.fa-plus-square-o
								td.product-column
									i.fa.fa-check-circle
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#controller')
										| Programmable Controller 
										i.fa.fa-plus-square-o
								td.product-column Available
								td.product-column Varies
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#keyboard-platform')
										| Matching Ergo Keyboard Platform 
										i.fa.fa-plus-square-o
								td.product-column Available
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#cable-tray')
										| Cable Management Tray 
										i.fa.fa-plus-square-o
								td.product-column Available
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature Braided Expandable Sleeving
								td.product-column Available
								td.product-column
									i.fa.fa-times-circle-o
							tr
								td.table-feature
									a(href='http://www.evodesk.com/standing-desks#ergopro')
										| Ergonomic Edge 
										i.fa.fa-plus-square-o
								td.product-column Available
								td.product-column
									i.fa.fa-times-circle-o
				
				include footer

destination/compare.html
<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WV9HWZH');
    </script>
    <!-- End Google Tag Manager-->
    <link rel="dns-prefetch" href="http://www.evodesk.com">
    <link rel="dns-prefetch" href="http://d17bplqo9q3lum.cloudfront.net">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Compare standing desks | Evodesk</title>
    <meta name="description" content="Evodesk represents an entirely new look at the standing desk. It heralds the future of the desk and you can be there at the start.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/navbar-styles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/plugins.js"></script>
    <meta name="p:domain_verify" content="02d8a2265ef5e677ed1c479575789266">
    <style type="text/css">
      .fa-check-circle { color:#00bbde; font-size:40px;}
      .fa-times-circle-o { color:#999; font-size:40px;}
      #compareNav {color: #00bbde;
      box-shadow: inset 0 4px 0 #00bbde;}
      #product-header { display:none;}
      @media all and (max-width: 900px) {
      #compare-nav  {color: #00bbde !important;border-top: none;}
      }
    </style>
  </head>
  <body>
    <div id="max-wrapper">
      <header class="cd-main-header headroom">
        <div class="wrapper clearfix relative"><a id="logo" href="../destination/index.html"></a>
          <ul class="cd-header-buttons">
            <li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
          </ul>
          <!-- cd-header-buttons-->
          <div class="clearfix" id="header-social">
            <ul>
              <li><a id="blog-nav" href="http://www.evodesk.com/blog/">Blog</a></li>
              <li><a id="contact-nav" href="../destination/contact.html">Contact</a></li>
            </ul><a href="http://www.facebook.com/evodesk"><i class="fa fa-facebook-official" aria-hidden="true" style="color:white;font-size:1.75rem;"></i></a><a href="https://twitter.com/EvoDesk"><i class="fa fa-twitter" aria-hidden="true" style="color:white;font-size:1.75rem;"></i></a>
          </div>
        </div>
      </header>
      <script>
        var headroom,myElement;
        $(document).ready(function(){
        // grab an element
        window.myElement = document.querySelector("header");
        // construct an instance of Headroom, passing the element
        window.headroom  = new Headroom(myElement);
        // initialise
        window.headroom.init();
        });
        
      </script>
      <script type="text/javascript">
        $( document ).ready(function() {
        // this does not appear to be used on this page (no #featured-rotator on page) rgentile 2/27/17
        $('#featured-rotator').jshowoff({
        links: false,
        controls: false,
        effect: 'fade',
        hoverPause: true ,
        changeSpeed: 1000,
        autoPlay: true,
        speed: 5000
        });
        });
      </script>
      <script type="text/javascript">
        var x=document.getElementsByClassName('myBox');
        for(var i=0; i < x.length; i++)
        {
        x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
        };
      </script>
      <!-- echo.render(); is also available for non-scroll callbacks-->
      <!-- LOAD FONTS-->
      <script type="text/javascript" src="//use.typekit.net/ter5vyf.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56768912-1', 'auto');
        ga('send', 'pageview');
      </script>
      <script src="js/jquery.carouFredSel-6.0.4-packed.js" type="text/javascript"></script>
      <script type="text/javascript">
        $(function() {
        // this is the brands carousel
        $('#carousel').carouFredSel({
        responsive: true,
        scroll: 1,
        items: {
        width: 300,
        visible: {
        min: 1,
        max: 10
        }
        }
        });
        });
      </script>
      <script type="text/javascript" data-cfasync="false">
        window.onload=function() {
        window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } };
        (function()
        {
        var done = false;
        var script = document.createElement('script');
        script.async = true;
        script.type = 'text/javascript';
        script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
        document.getElementsByTagName('HEAD').item(0).appendChild(script);
        script.onreadystatechange = script.onload = function (e)
        {
        if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
        {
        var w = new PCWidget({c: 'c11372c4-0594-4c31-97b4-0e8fc3b99389', f: true });
        done = true;
        purechatApi.on('chat:operatorJoin', function (args)
        {
        $.post("/store/index.php?route=module/sales_agent", {sales_agent: args.operatorName});
        });
        purechatApi.on('email:send', function(args)
        {
        $.post("//www.spindle360.com/formstack", args);
        });
        }
        };
        })();}
      </script>
      <!-- #EndLibraryItem-->
      <!-- #BeginLibraryItem "/Library/nav.lbi"-->
      <div class="cd-overlay">
        <nav class="cd-nav">
          <ul class="cd-primary-nav is-fixed" id="cd-primary-nav">
            <li class="has-children"><a id="productNav" href="../destination/standing-desks.html">Products</a>
              <ul class="cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#0">Menu</a></li>
                <li class="has-children"><a href="../destination/standing-desks.html">Standing Desks</a>
                  <ul class="is-hidden">
                    <li class="go-back"><a href="#0">Products</a></li>
                    <li><a href="../destination/standing-desks.html">Overview</a></li>
                    <li><a href="../destination/standing-desks.html#features">Features</a></li>
                    <li class="has-children"><a href="#0">Models</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="see-all"><a href="../destination/standing-desks.html#models">All Models</a></li>
                        <li><a href="../destination/standing-desks.html#evodesk-standard">Evodesk™</a></li>
                        <li><a href="../destination/evodesk-pro.html">Evodesk Pro™</a></li>
                        <li><a href="../destination/standing-desks.html#evodesk-studio">Evodesk Studio™</a></li>
                        <li><a href="../destination/evodesk-xe.html">Evodesk XE™</a></li>
                      </ul>
                    </li>
                    <li><a href="../destination/gaming-desks.html">Gaming Desks</a></li>
                    <li class="has-children"><a href="#0">Options & Accessories</a>
                      <ul class="is-hidden options-menu">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="see-all"><a href="../destination/options.html">All Options Overview</a></li>
                        <li><a href="../destination/options.html#controller">Programmable Controller</a></li>
                        <li><a href="../destination/options.html#keyboard-platform">Keyboard Platform</a></li>
                        <li><a href="../destination/options.html#harman-kardon">Harman Kardon® Integrated</a></li>
                        <li><a href="../destination/options.html#ergopro">Ergo Edge Desktop</a></li>
                        <li><a href="../destination/options.html#monitor-arms">Evo Monitor Arms</a></li>
                        <li><a href="../destination/options.html#cable-tray">Cable Management Tray</a></li>
                        <li><a href="../destination/options.html#casters">Casters</a></li>
                        <li><a href="../destination/options.html#treadmill">Treadmill System</a></li>
                        <li><a href="../destination/options.html#cpu-mount">Evo CPU Mount</a></li>
                        <li><a href="../destination/deskshields.html">DeskShields™</a></li>
                        <li><a href="../destination/standing-desk-storage.html">Storage Pods</a></li>
                      </ul>
                    </li>
                    <li><a href="../destination/specifications.html">Specifications</a></li>
                    <li><a href="../destination/gallery.html">Gallery</a></li>
                    <li class="has-children"><a href="#0">Downloads</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li><a href="../destination/downloads.html">All Downloads</a></li>
                        <li class="see-all"><a href="http://www.evodesk.com/media/evodesk-brochure.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>  PDF Brochure</a></li>
                        <li><a href="http://www.evodesk.com/media/evodesk-assembly-v3.pdf" target="_blank">Assembly Manual</a></li>
                        <li><a href="../destination/downloads.html">Evodesk Diagrams</a></li>
                      </ul>
                    </li>
                    <li><a href="https://www.evodesk.com/store/">Store</a></li>
                  </ul>
                </li>
                <li class="has-children bg-grey desktop-only relative" id="index-feature">
                  <!-- <a href="http://www.evodesk.com/standing-desks.html?play=1">Featured Video</a>-->
                  <div class="navtilerow navtilerow1">
                    <div class="navtile tile-explore" data-href="../destination/standing-desks.html">
                      <div>
                        <h1>STANDING DESK COLLECTION</h1>
                        <h2><em>EXPLORE</em> THE POSSIBILITIES</h2>
                        <p>Find out how distinctive design and<br>innovation can elevate your experience</p><a href="../destination/standing-desks.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-elevate" data-href="../destination/standing-desks.html?play=1">
                      <div>
                        <h1><em>ELEVATE</em> YOUR EXPECTATIONS</h1><a href="../destination/standing-desks.html?play=1"><img src="http://www.evodesk.com/img/videoplaybutton.png"></a><a href="../destination/standing-desks.html?play=1">WATCH THE VIDEO</a>
                      </div>
                    </div>
                  </div>
                  <div class="navtilerow navtilerow2">
                    <div class="navtile tile-evodesk" data-href="http://www.evodesk.com/standing-desks.html#evodesk-standard">
                      <div>
                        <h1>Evodesk<sup>™</sup></h1><a href="../destination/standing-desks.html#evodesk-standard">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-evodeskpro" data-href="../destination/evodesk-pro.html">
                      <div>
                        <h1>Evodesk <span>PRO</span><sup>™</sup></h1><a href="../destination/evodesk-pro.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-evodeskxe" data-href="../destination/evodesk-xe.html">
                      <div>
                        <h1>Evodesk <span>XE</span><sup>™</sup></h1><a href="../destination/evodesk-xe.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-studiol" data-href="../destination/standing-desks.html#evodesk-studio">
                      <div>
                        <h1>Evodesk <span>Studio L</span><sup>™</sup></h1><a href="../destination/standing-desks.html#evodesk-studio">LEARN MORE</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="../destination/standing-desks.html?play=1">Video</a></li>
            <li><a id="reviewsNav" href="../destination/reviews.html">Reviews</a></li>
            <li><a id="compareNav" href="../destination/compare.html">Compare</a></li>
            <!-- Mobile Only Visible-->
            <li><a class="mobile-only" href="http://www.evodesk.com/about">About</a></li>
            <li><a class="mobile-only" href="http://www.evodesk.com/blog/">Blog</a></li>
            <li><a class="mobile-only" href="../destination/contact.html">Contact</a></li>
          </ul>
          <!-- primary-nav-->
        </nav>
        <script>
          $(function()
          {
          $(".navtile").click(function()
          {
          window.location = $(this).data("href");
          });
          });
        </script>
        <!-- #EndLibraryItem-->
      </div>
      <script type="text/javascript">
        // Rotator
        $('#quotes-rotator').jshowoff({
        links: false,
        controls: false,
        effect: 'fade',
        hoverPause: false,
        changeSpeed: 600,
        autoPlay: true,
        speed: 5000
        });
      </script>
      <style>
        .fader {
        position:relative;
        width:100%;
        min-height:700px;
        }
        .fader-item {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        }
        .visible {
        z-index:999;
        }
        .pantonebanner {
        background-image:radial-gradient(rgba(253,253,253,1) 0%, rgba(153,153,153,1) 80%) !important;
        }
        .pantonebanner h1 {
        color:black !important;
        text-shadow:none !important;
        }
        .pantonebanner h3 {
        color:black !important;
        text-shadow:none !important;
        }
        .pantonebanner p {
        color:black !important;
        text-shadow:none !important;
        }
        @media (max-width:1300px)
        {
        .fader {
        min-height:540px;
        }
        }
        @media (max-width:736px)
        {
        .fader {
        min-height:470px;
        }
        }
        @media (min-width:1300px)
        {
        .pantonebanner #banner-text {
        padding-top:240px !important;
        }
        }
        .pantonebanner #home-banner2 {
        left:31%;
        height:77%;
        }
        .colorswatch {
        box-sizing:border-box;
        position:absolute;
        right:100px;
        bottom:10%;
        background:white;
        padding:2px 2px 6px 2px;
        line-height:1rem;
        font-family:'Proxima Nova', sans-serif;
        box-shadow:0 0 20px 10px rgba(0,0,0,0.1);
        /*-webkit-animation-duration: 2s !important;*/
        /*animation-duration: 2s !important;*/
        }
        .colorswatch .greenerycolor {
        background-color:#85af4b;
        width:145px;
        height:150px;
        margin-bottom:6px;
        }
        .colorswatch h1 {
        color:black !important;
        padding:2px 6px;
        margin:0;
        font-size:1.25rem;
        font-weight:700;
        font-family:'Proxima Nova', sans-serif;
        }
        .colorswatch h1 sup {
        position:relative;
        top:-4px;
        }
        .colorswatch h2 {
        color:black;
        padding:2px 6px;
        margin:0;
        font-size:1rem;
        font-weight:500;
        font-family:'Proxima Nova', sans-serif;
        }
        @media (max-width:736px)
        {
        .pantonebanner #home-banner2 {
        left:11%;
        height:53%;
        }
        .pantonebanner #banner-text p {
        text-shadow: 0 2px 20px rgba(0, 0, 0, 1.0);
        }
        .colorswatch {
        display:none;
        }
        }
      </style>
      <script>
        $(document).ready(function(){
        $('.bxslider-hero').bxSlider({
        auto: true,
        pause: 3500,  // how long each slide is displayed
        mode: 'fade',
        easing: 'easeOutElastic',
        speed:2000,  // speed of fade
        controls: false,
        pager:true,
        infiniteLoop: true
        });
        });
      </script>
      <main class="cd-main-content">
        <!-- #EndLibraryItem-->
        <section id="banner-compare">
          <div class="wrapper-container">
            <div class="keepItRealContent">
              <h2>Compare Evodesk</h2>
              <h3>Innovation</h3>
              <p>Evodesk didn’t invent the standing desk. We did make the most feature-packed desk in its class. And we made it affordable. Evolution at its best. See how Evodesk stacks up.</p>
            </div><img class="absolute z-back animated fadeIn" id="compare-banner-image" src="http://www.evodesk.com/img/evodesk-compare.png" width="1071" height="631" alt="evodesk compare">
          </div>
        </section>
        <section id="compare-body">
          <div class="wrapper-container">
            <table class="responsive" id="compare-table-header">
              <tr>
                <td class="table-title">
                  <h1><span>Compare</span> Standing Desks</h1>
                </td>
                <td class="logo-column"><img src="http://www.evodesk.com/img/evodesk-logo-white.png" width="260" height="39" alt="evodesk logo white"></td>
                <td class="other-column">The Other Guys</td>
              </tr>
            </table>
            <table class="responsive" id="compare-table">
              <tr>
                <td class="table-feature"><a href="http://www.evodesk.com/standing-desks#expandable-frame">Expandable Frame <i class="fa fa-plus-square-o"></i></a></td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature">Weight capacity</td>
                <td class="product-column">355 lbs</td>
                <td class="product-column">154 lb</td>
              </tr>
              <tr>
                <td class="table-feature">Speed</td>
                <td class="product-column">1.5 inches per second</td>
                <td class="product-column">1 inch per second</td>
              </tr>
              <tr>
                <td class="table-feature">Maximum Height</td>
                <td class="product-column">49.5”</td>
                <td class="product-column">47”</td>
              </tr>
              <tr>
                <td class="table-feature">Desktop Composition</td>
                <td class="product-column">Recycled Composite Wood</td>
                <td class="product-column">Particleboard</td>
              </tr>
              <tr>
                <td class="table-feature"><a href="http://www.evodesk.com/standing-desks#recycled-wood">100% recycled wood desktop <i class="fa fa-plus-square-o"></i></a></td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature">Plastic-Free Desktop</td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column">Plastic laminate standard</td>
              </tr>
              <tr>
                <td class="table-feature">Comfort Edges & Radius Corners</td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column">Sharp laminated edges & corners</td>
              </tr>
              <tr>
                <td class="table-feature">Environmentally Friendly Solvent-Free Metal  Finish </td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature">Easy start/soft stop</td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature">Predrilled Desktops</td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column">Varies</td>
              </tr>
              <tr>
                <td class="table-feature"><a href="http://www.evodesk.com/standing-desks#posi-loc">Posi-Loc™ Steel Deskop Inserts <i class="fa fa-plus-square-o"></i></a></td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature">Zero Solvent Based Paints</td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature">Decibel level during movement</td>
                <td class="product-column">45 db</td>
                <td class="product-column">52 db</td>
              </tr>
              <tr>
                <td class="table-feature">Assembly Time</td>
                <td class="product-column">Yes, 15 min or less assembly</td>
                <td class="product-column">No, 1 hour assembly</td>
              </tr>
              <tr>
                <td class="table-feature">Desktop Made In USA</td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature">Fingerprint Resistant Desktop</td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature"><a href="http://www.evodesk.com/standing-desks#oversized-grommet">Oversized 3” x 6” Grommet <i class="fa fa-plus-square-o"></i></a></td>
                <td class="product-column"><i class="fa fa-check-circle"></i></td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature"><a href="http://www.evodesk.com/standing-desks#controller">Programmable Controller <i class="fa fa-plus-square-o"></i></a></td>
                <td class="product-column">Available</td>
                <td class="product-column">Varies</td>
              </tr>
              <tr>
                <td class="table-feature"><a href="http://www.evodesk.com/standing-desks#keyboard-platform">Matching Ergo Keyboard Platform <i class="fa fa-plus-square-o"></i></a></td>
                <td class="product-column">Available</td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature"><a href="http://www.evodesk.com/standing-desks#cable-tray">Cable Management Tray <i class="fa fa-plus-square-o"></i></a></td>
                <td class="product-column">Available</td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature">Braided Expandable Sleeving</td>
                <td class="product-column">Available</td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
              <tr>
                <td class="table-feature"><a href="http://www.evodesk.com/standing-desks#ergopro">Ergonomic Edge <i class="fa fa-plus-square-o"></i></a></td>
                <td class="product-column">Available</td>
                <td class="product-column"><i class="fa fa-times-circle-o"></i></td>
              </tr>
            </table>
          </div>
        </section>
        <footer id="footer">
          <div class="wrapper-container">
            <ul class="footer-nav" id="footer-row1">
              <li class="footer-title"><a href="http://www.evodesk.com/standing-desks">Products</a></li>
              <li><a href="http://www.evodesk.com/standing-desks">Standing Desks</a></li>
              <li><a href="http://www.evodesk.com/gaming-desk">Gaming Desk</a></li>
              <li><a href="http://www.evodesk.com/standing-desks">Features</a></li>
              <li><a href="http://www.evodesk.com/standing-desks#overview">Watch the Video</a></li>
              <li><a href="http://www.evodesk.com/compare">Compare</a></li>
              <li><a href="http://www.evodesk.com/options">All Options</a></li>
              <li><a href="http://www.evodesk.com/gallery">Gallery</a></li>
              <li><a href="http://www.evodesk.com/reviews">Reviews</a></li>
              <li><a href="http://www.evodesk.com/media/evodesk-brochure.pdf" target="_blank">Brochure</a></li>
              <li><a href="http://www.evodesk.com/manual" target="_blank">Assembly Manual</a></li>
              <li><a href="http://www.evodesk.com/downloads">Downloads</a></li>
              <li><a href="http://www.evodesk.com/specifications">Specifications</a></li>
            </ul>
            <ul class="footer-nav" id="footer-row2">
              <li class="footer-title"><a href="http://www.evodesk.com/store">Get Evodesk</a></li>
              <li><a href="http://www.evodesk.com/store">Evodesk Store</a></li>
              <li><a href="http://www.evodesk.com/shipping">Shipping</a></li>
              <li><a href="http://www.evodesk.com/shipping#returns">Returns and Refunds</a></li>
              <li><a href="http://www.evodesk.com/financing">Financing</a></li>
              <li><a href="http://www.evodesk.com/store/login">My Account</a></li>
              <li><a href="http://www.evodesk.com/store/checkout/cart">View Cart</a></li>
            </ul>
            <ul class="footer-nav" id="footer-row3">
              <li class="footer-title"><a href="http://www.evodesk.com/contact">Get in Touch</a></li>
              <li><a href="http://www.evodesk.com/about">About Us</a></li>
              <li><a href="http://www.evodesk.com/blog">Blog</a></li>
              <li><a href="http://www.evodesk.com/contact">Contact</a></li>
              <li><a href="http://www.evodesk.com/international-shipping">International Shipping</a></li>
              <li><a href="http://www.evodesk.com/contact">Request a Phone Call</a></li>
              <li><a href="http://www.evodesk.com/privacy-policy">Privacy Policy</a></li>
              <li><a href="http://www.evodesk.com/terms-of-use">Terms of Use</a></li>
            </ul>
            <div class="footer clearfix"></div>
            <div id="footer-info"><a href="http://www.evodesk.com">
                <div id="footer-logo"></div></a>
              <p class="copyright">Copyright © 2015 Evodesk.com<br> All Rights Reserved<br><a href="http://www.evodesk.com/privacy-policy">Privacy Policy</a> / <a href="http://www.evodesk.com/terms-of-use">Terms of Use</a></p><br>
              <div id="footer-social">
                <p>Get Social</p><a href="https://www.facebook.com/evodesk"><img src="http://www.evodesk.com/img/facebook-header.png" width="25" height="25" alt="facebook header"></a><a href="https://twitter.com/EvoDesk"><img src="http://www.evodesk.com/img/twitter-header.png" width="25" height="25" alt="twitter header"></a>
              </div><img style="max-width: 200px;              width: 100%;              height: auto;              display: inline-block;              padding: 30px 0 0 0;              -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */              filter: grayscale(100%);              max-width: 165px;              opacity: .65;" src="http://www.evodesk.com/img/payment-methods.png" alt="Secured checkout payment options">
              <p style="color: #666; font-size: 10px; text-transform: uppercase; padding: 0 0 20px 0; margin: 0;">Secured checkout</p>
              <div class="clearfix"></div>
            </div>
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
