src/footer.pug
footer#footer
  .wrapper-container
    ul#footer-row1.footer-nav
      li.footer-title
        a(href='http://www.evodesk.com/standing-desks') Products
      li
        a(href='http://www.evodesk.com/standing-desks') Standing Desks
      li
        a(href='http://www.evodesk.com/gaming-desk') Gaming Desk
      li
        a(href='http://www.evodesk.com/standing-desks') Features
      li
        a(href='http://www.evodesk.com/standing-desks#overview') Watch the Video
      li
        a(href='http://www.evodesk.com/compare') Compare
      li
        a(href='http://www.evodesk.com/options') All Options
      li
        a(href='http://www.evodesk.com/gallery') Gallery
      li
        a(href='http://www.evodesk.com/reviews') Reviews
      li
        a(href='http://www.evodesk.com/media/evodesk-brochure.pdf', target='_blank') Brochure
      li
        a(href='http://www.evodesk.com/manual', target='_blank') Assembly Manual
      li
        a(href='http://www.evodesk.com/downloads') Downloads
      li
        a(href='http://www.evodesk.com/specifications') Specifications
    ul#footer-row2.footer-nav
      li.footer-title
        a(href='http://www.evodesk.com/store') Get Evodesk
      li
        a(href='http://www.evodesk.com/store') Evodesk Store
      li
        a(href='http://www.evodesk.com/shipping') Shipping
      li
        a(href='http://www.evodesk.com/shipping#returns') Returns and Refunds
      li
        a(href='http://www.evodesk.com/financing') Financing
      li
        a(href='http://www.evodesk.com/store/login') My Account
      li
        a(href='http://www.evodesk.com/store/checkout/cart') View Cart
    ul#footer-row3.footer-nav
      li.footer-title
        a(href='http://www.evodesk.com/contact') Get in Touch
      li
        a(href='http://www.evodesk.com/about') About Us
      li
        a(href='http://www.evodesk.com/blog') Blog
      li
        a(href='http://www.evodesk.com/contact') Contact
      li
        a(href='http://www.evodesk.com/international-shipping') International Shipping
      li
        a(href='http://www.evodesk.com/contact') Request a Phone Call
      li
        a(href='http://www.evodesk.com/privacy-policy') Privacy Policy
      li
        a(href='http://www.evodesk.com/terms-of-use') Terms of Use
    .footer.clearfix
    #footer-info
      a(href='http://www.evodesk.com')
        #footer-logo
      p.copyright
        | Copyright © 2015 Evodesk.com
        br
        |  All Rights Reserved
        br
        a(href='http://www.evodesk.com/privacy-policy') Privacy Policy
        |  / 
        a(href='http://www.evodesk.com/terms-of-use') Terms of Use
      br
      #footer-social
        p Get Social
        a(href='https://www.facebook.com/evodesk')
          img(src='http://www.evodesk.com/img/facebook-header.png', width='25', height='25', alt='facebook header')
        a(href='https://twitter.com/EvoDesk')
          img(src='http://www.evodesk.com/img/twitter-header.png', width='25', height='25', alt='twitter header')
      img(style='max-width: 200px;              width: 100%;              height: auto;              display: inline-block;              padding: 30px 0 0 0;              -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */              filter: grayscale(100%);              max-width: 165px;              opacity: .65;', src='http://www.evodesk.com/img/payment-methods.png', alt='Secured checkout payment options')
      p(style='color: #666; font-size: 10px; text-transform: uppercase; padding: 0 0 20px 0; margin: 0;') Secured checkout
      .clearfix

destination/footer.html

<footer id="footer">
  <div class="wrapper-container">
    <ul class="footer-nav" id="footer-row1">
      <li class="footer-title"><a href="http://www.evodesk.com/standing-desks">Products</a></li>
      <li><a href="http://www.evodesk.com/standing-desks">Standing Desks</a></li>
      <li><a href="http://www.evodesk.com/gaming-desk">Gaming Desk</a></li>
      <li><a href="http://www.evodesk.com/standing-desks">Features</a></li>
      <li><a href="http://www.evodesk.com/standing-desks#overview">Watch the Video</a></li>
      <li><a href="http://www.evodesk.com/compare">Compare</a></li>
      <li><a href="http://www.evodesk.com/options">All Options</a></li>
      <li><a href="http://www.evodesk.com/gallery">Gallery</a></li>
      <li><a href="http://www.evodesk.com/reviews">Reviews</a></li>
      <li><a href="http://www.evodesk.com/media/evodesk-brochure.pdf" target="_blank">Brochure</a></li>
      <li><a href="http://www.evodesk.com/manual" target="_blank">Assembly Manual</a></li>
      <li><a href="http://www.evodesk.com/downloads">Downloads</a></li>
      <li><a href="http://www.evodesk.com/specifications">Specifications</a></li>
    </ul>
    <ul class="footer-nav" id="footer-row2">
      <li class="footer-title"><a href="http://www.evodesk.com/store">Get Evodesk</a></li>
      <li><a href="http://www.evodesk.com/store">Evodesk Store</a></li>
      <li><a href="http://www.evodesk.com/shipping">Shipping</a></li>
      <li><a href="http://www.evodesk.com/shipping#returns">Returns and Refunds</a></li>
      <li><a href="http://www.evodesk.com/financing">Financing</a></li>
      <li><a href="http://www.evodesk.com/store/login">My Account</a></li>
      <li><a href="http://www.evodesk.com/store/checkout/cart">View Cart</a></li>
    </ul>
    <ul class="footer-nav" id="footer-row3">
      <li class="footer-title"><a href="http://www.evodesk.com/contact">Get in Touch</a></li>
      <li><a href="http://www.evodesk.com/about">About Us</a></li>
      <li><a href="http://www.evodesk.com/blog">Blog</a></li>
      <li><a href="http://www.evodesk.com/contact">Contact</a></li>
      <li><a href="http://www.evodesk.com/international-shipping">International Shipping</a></li>
      <li><a href="http://www.evodesk.com/contact">Request a Phone Call</a></li>
      <li><a href="http://www.evodesk.com/privacy-policy">Privacy Policy</a></li>
      <li><a href="http://www.evodesk.com/terms-of-use">Terms of Use</a></li>
    </ul>
    <div class="footer clearfix"></div>
    <div id="footer-info"><a href="http://www.evodesk.com">
        <div id="footer-logo"></div></a>
      <p class="copyright">Copyright © 2015 Evodesk.com<br/> All Rights Reserved<br/><a href="http://www.evodesk.com/privacy-policy">Privacy Policy</a> / <a href="http://www.evodesk.com/terms-of-use">Terms of Use</a></p><br/>
      <div id="footer-social">
        <p>Get Social</p><a href="https://www.facebook.com/evodesk"><img src="http://www.evodesk.com/img/facebook-header.png" width="25" height="25" alt="facebook header"/></a><a href="https://twitter.com/EvoDesk"><img src="http://www.evodesk.com/img/twitter-header.png" width="25" height="25" alt="twitter header"/></a>
      </div><img style="max-width: 200px;              width: 100%;              height: auto;              display: inline-block;              padding: 30px 0 0 0;              -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */              filter: grayscale(100%);              max-width: 165px;              opacity: .65;" src="http://www.evodesk.com/img/payment-methods.png" alt="Secured checkout payment options"/>
      <p style="color: #666; font-size: 10px; text-transform: uppercase; padding: 0 0 20px 0; margin: 0;">Secured checkout</p>
      <div class="clearfix"></div>
    </div>
  </div>
</footer>
