destination/join-our-mailing.html

<section class="overflow-hidden" id="signup">
  <!-- signup section-->
  <div class="wrapper-container">
    <!-- wrapper container div-->
    <div class="full55 center-all">
      <h2>Join Our Mailing List for</h2>
      <h3><span>Special</span> Offers & Promotions</h3>
      <form class="validate" id="mc-embedded-subscribe-form" action="//evodesk.us9.list-manage.com/subscribe/post?u=20902afe0190d22f00e25dff2&amp;id=089b5b8e10" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
        <input class="required email" id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="Enter Your Email Address"/>
        <div class="clear" id="mce-responses">
          <div class="response" id="mce-error-response" style="display:none;"></div>
          <div class="response" id="mce-success-response" style="display:none;"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_20902afe0190d22f00e25dff2_089b5b8e10" tabindex="-1" value=""/>
        </div>
        <div class="clear">
          <input class="button" id="mc-embedded-subscribe" type="submit" value="Sign Up" name="subscribe"/>
        </div>
      </form>
      <p>Private. Secure. Spam-Free.</p>
      <!-- End mc_embed_signup-->
    </div>
  </div>
  <!-- end of wrapper container div-->
</section>
<!-- end of signup section-->

src/join-our-mailing.pug
section#signup.overflow-hidden
  // signup section
  .wrapper-container
    // wrapper container div
    .full55.center-all
      h2 Join Our Mailing List for
      h3
        span Special
        |  Offers & Promotions
      form#mc-embedded-subscribe-form.validate(action='//evodesk.us9.list-manage.com/subscribe/post?u=20902afe0190d22f00e25dff2&id=089b5b8e10', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder='Enter Your Email Address')
        #mce-responses.clear
          #mce-error-response.response(style='display:none;')
          #mce-success-response.response(style='display:none;')
        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
        div(style='position: absolute; left: -5000px;')
          input(type='text', name='b_20902afe0190d22f00e25dff2_089b5b8e10', tabindex='-1', value='')
        .clear
          input#mc-embedded-subscribe.button(type='submit', value='Sign Up', name='subscribe')
      p Private. Secure. Spam-Free.
      // End mc_embed_signup
  // end of wrapper container div
// end of signup section
