src/navbar.pug
header.cd-main-header.headroom
		.wrapper.clearfix.relative
			a#logo(href='../destination/index.html')
			ul.cd-header-buttons
				li
					a.cd-nav-trigger(href='#cd-primary-nav')
						| Menu
						span
			// cd-header-buttons
			#header-social.clearfix
				ul
					li
						a#blog-nav(href='http://www.evodesk.com/blog/') Blog
					li
						a#contact-nav(href='../destination/contact.html') Contact
				a(href='http://www.facebook.com/evodesk')
					i.fa.fa-facebook-official(aria-hidden='true', style='color:white;font-size:1.75rem;')
				a(href='https://twitter.com/EvoDesk')
					i.fa.fa-twitter(aria-hidden='true', style='color:white;font-size:1.75rem;')
		
script.
	var headroom,myElement;
	$(document).ready(function(){
	// grab an element
	window.myElement = document.querySelector("header");
	// construct an instance of Headroom, passing the element
	window.headroom  = new Headroom(myElement);
	// initialise
	window.headroom.init();
	});

script(type='text/javascript').
	$( document ).ready(function() {
	// this does not appear to be used on this page (no #featured-rotator on page) rgentile 2/27/17
	$('#featured-rotator').jshowoff({
	links: false,
	controls: false,
	effect: 'fade',
	hoverPause: true ,
	changeSpeed: 1000,
	autoPlay: true,
	speed: 5000
	});
	});
script(type='text/javascript').
	var x=document.getElementsByClassName('myBox');
	for(var i=0; i < x.length; i++)
	{
	x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
	};
// echo.render(); is also available for non-scroll callbacks
// LOAD FONTS
script(type='text/javascript', src='//use.typekit.net/ter5vyf.js')
script(type='text/javascript').
	try{Typekit.load();}catch(e){}
script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-56768912-1', 'auto');
	ga('send', 'pageview');
script(src='js/jquery.carouFredSel-6.0.4-packed.js', type='text/javascript')
script(type='text/javascript').
	$(function() {
	// this is the brands carousel
	$('#carousel').carouFredSel({
	responsive: true,
	scroll: 1,
	items: {
	width: 300,
	visible: {
	min: 1,
	max: 10
	}
	}
	});
	});
script(type='text/javascript', data-cfasync='false').
	window.onload=function() {
	window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } };
	(function()
	{
	var done = false;
	var script = document.createElement('script');
	script.async = true;
	script.type = 'text/javascript';
	script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
	document.getElementsByTagName('HEAD').item(0).appendChild(script);
	script.onreadystatechange = script.onload = function (e)
	{
	if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
	{
	var w = new PCWidget({c: 'c11372c4-0594-4c31-97b4-0e8fc3b99389', f: true });
	done = true;
	purechatApi.on('chat:operatorJoin', function (args)
	{
	$.post("/store/index.php?route=module/sales_agent", {sales_agent: args.operatorName});
	});
	purechatApi.on('email:send', function(args)
	{
	$.post("//www.spindle360.com/formstack", args);
	});
	}
	};
	})();}
// #EndLibraryItem
// #BeginLibraryItem "/Library/nav.lbi"
.cd-overlay
	nav.cd-nav
		ul#cd-primary-nav.cd-primary-nav.is-fixed
			li.has-children
				a#productNav(href='../destination/standing-desks.html') Products
				ul.cd-secondary-nav.is-hidden
					li.go-back
						a(href='#0') Menu
					li.has-children
						a(href='../destination/standing-desks.html') Standing Desks
						ul.is-hidden
							li.go-back
								a(href='#0') Products
							li
								a(href='../destination/standing-desks.html') Overview
							li
								a(href='../destination/standing-desks.html#features') Features
							li.has-children
								a(href='#0') Models
								ul.is-hidden
									li.go-back
										a(href='#0') Back
									li.see-all
										a(href='../destination/standing-desks.html#models') All Models
									li
										a(href='../destination/standing-desks.html#evodesk-standard') Evodesk™
									li
										a(href='../destination/evodesk-pro.html') Evodesk Pro™
									li
										a(href='../destination/standing-desks.html#evodesk-studio') Evodesk Studio™
									li
										a(href='../destination/evodesk-xe.html') Evodesk XE™
							li
								a(href='../destination/gaming-desks.html') Gaming Desks
							li.has-children
								a(href='#0') Options & Accessories
								ul.is-hidden.options-menu
									li.go-back
										a(href='#0') Back
									li.see-all
										a(href='../destination/options.html') All Options Overview
									li
										a(href='../destination/options.html#controller') Programmable Controller
									li
										a(href='../destination/options.html#keyboard-platform') Keyboard Platform
									li
										a(href='../destination/options.html#harman-kardon') Harman Kardon® Integrated
									li
										a(href='../destination/options.html#ergopro') Ergo Edge Desktop
									li
										a(href='../destination/options.html#monitor-arms') Evo Monitor Arms
									li
										a(href='../destination/options.html#cable-tray') Cable Management Tray
									li
										a(href='../destination/options.html#casters') Casters
									li
										a(href='../destination/options.html#treadmill') Treadmill System
									li
										a(href='../destination/options.html#cpu-mount') Evo CPU Mount
									li
										a(href='../destination/deskshields.html') DeskShields™
									li
										a(href='../destination/standing-desk-storage.html') Storage Pods
							li
								a(href='../destination/specifications.html') Specifications
							li
								a(href='../destination/gallery.html') Gallery
							li.has-children
								a(href='#0') Downloads
								ul.is-hidden
									li.go-back
										a(href='#0') Back
									li
										a(href='../destination/downloads.html') All Downloads
									li.see-all
										a(href='http://www.evodesk.com/media/evodesk-brochure.pdf', target='_blank')
											i.fa.fa-file-pdf-o
											|   PDF Brochure
									li
										a(href='http://www.evodesk.com/media/evodesk-assembly-v3.pdf', target='_blank') Assembly Manual
									li
										a(href='../destination/downloads.html') Evodesk Diagrams
							li
								a(href='https://www.evodesk.com/store/') Store
					li#index-feature.has-children.bg-grey.desktop-only.relative
						// <a href="http://www.evodesk.com/standing-desks.html?play=1">Featured Video</a>
						.navtilerow.navtilerow1
							.navtile.tile-explore(data-href='../destination/standing-desks.html')
								div
									h1 STANDING DESK COLLECTION
									h2
										em EXPLORE
										|  THE POSSIBILITIES
									p
										| Find out how distinctive design and
										br
										| innovation can elevate your experience
									a(href='../destination/standing-desks.html') LEARN MORE
							.navtile.tile-elevate(data-href='../destination/standing-desks.html?play=1')
								div
									h1
										em ELEVATE
										|  YOUR EXPECTATIONS
									a(href='../destination/standing-desks.html?play=1')
										img(src='http://www.evodesk.com/img/videoplaybutton.png')
									a(href='../destination/standing-desks.html?play=1') WATCH THE VIDEO
						.navtilerow.navtilerow2
							.navtile.tile-evodesk(data-href='http://www.evodesk.com/standing-desks.html#evodesk-standard')
								div
									h1
										| Evodesk
										sup ™
									a(href='../destination/standing-desks.html#evodesk-standard') LEARN MORE
							.navtile.tile-evodeskpro(data-href='../destination/evodesk-pro.html')
								div
									h1
										| Evodesk 
										span PRO
										sup ™
									a(href='../destination/evodesk-pro.html') LEARN MORE
							.navtile.tile-evodeskxe(data-href='../destination/evodesk-xe.html')
								div
									h1
										| Evodesk 
										span XE
										sup ™
									a(href='../destination/evodesk-xe.html') LEARN MORE
							.navtile.tile-studiol(data-href='../destination/standing-desks.html#evodesk-studio')
								div
									h1
										| Evodesk 
										span Studio L
										sup ™
									a(href='../destination/standing-desks.html#evodesk-studio') LEARN MORE
			li
				a(href='../destination/standing-desks.html?play=1') Video
			li
				a#reviewsNav(href='../destination/reviews.html') Reviews
			li
				a#compareNav(href='../destination/compare.html') Compare
			// Mobile Only Visible
			li
				a.mobile-only(href='http://www.evodesk.com/about') About
			li
				a.mobile-only(href='http://www.evodesk.com/blog/') Blog
			li
				a.mobile-only(href='../destination/contact.html') Contact
		// primary-nav
	script.
		$(function()
		{
		$(".navtile").click(function()
		{
		window.location = $(this).data("href");
		});
		});
	// #EndLibraryItem
script(type='text/javascript').
	// Rotator
	$('#quotes-rotator').jshowoff({
	links: false,
	controls: false,
	effect: 'fade',
	hoverPause: false,
	changeSpeed: 600,
	autoPlay: true,
	speed: 5000
	});
style.
	.fader {
	position:relative;
	width:100%;
	min-height:700px;
	}
	.fader-item {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	}
	.visible {
	z-index:999;
	}
	.pantonebanner {
	background-image:radial-gradient(rgba(253,253,253,1) 0%, rgba(153,153,153,1) 80%) !important;
	}
	.pantonebanner h1 {
	color:black !important;
	text-shadow:none !important;
	}
	.pantonebanner h3 {
	color:black !important;
	text-shadow:none !important;
	}
	.pantonebanner p {
	color:black !important;
	text-shadow:none !important;
	}
	@media (max-width:1300px)
	{
	.fader {
	min-height:540px;
	}
	}
	@media (max-width:736px)
	{
	.fader {
	min-height:470px;
	}
	}
	@media (min-width:1300px)
	{
	.pantonebanner #banner-text {
	padding-top:240px !important;
	}
	}
	.pantonebanner #home-banner2 {
	left:31%;
	height:77%;
	}
	.colorswatch {
	box-sizing:border-box;
	position:absolute;
	right:100px;
	bottom:10%;
	background:white;
	padding:2px 2px 6px 2px;
	line-height:1rem;
	font-family:'Proxima Nova', sans-serif;
	box-shadow:0 0 20px 10px rgba(0,0,0,0.1);
	/*-webkit-animation-duration: 2s !important;*/
	/*animation-duration: 2s !important;*/
	}
	.colorswatch .greenerycolor {
	background-color:#85af4b;
	width:145px;
	height:150px;
	margin-bottom:6px;
	}
	.colorswatch h1 {
	color:black !important;
	padding:2px 6px;
	margin:0;
	font-size:1.25rem;
	font-weight:700;
	font-family:'Proxima Nova', sans-serif;
	}
	.colorswatch h1 sup {
	position:relative;
	top:-4px;
	}
	.colorswatch h2 {
	color:black;
	padding:2px 6px;
	margin:0;
	font-size:1rem;
	font-weight:500;
	font-family:'Proxima Nova', sans-serif;
	}
	@media (max-width:736px)
	{
	.pantonebanner #home-banner2 {
	left:11%;
	height:53%;
	}
	.pantonebanner #banner-text p {
	text-shadow: 0 2px 20px rgba(0, 0, 0, 1.0);
	}
	.colorswatch {
	display:none;
	}
	}
script.
	$(document).ready(function(){
	$('.bxslider-hero').bxSlider({
	auto: true,
	pause: 3500,  // how long each slide is displayed
	mode: 'fade',
	easing: 'easeOutElastic',
	speed:2000,  // speed of fade
	controls: false,
	pager:true,
	infiniteLoop: true
	});
	});

destination/navbar.html

<header class="cd-main-header headroom">
  <div class="wrapper clearfix relative"><a id="logo" href="../destination/index.html"></a>
    <ul class="cd-header-buttons">
      <li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
    </ul>
    <!-- cd-header-buttons-->
    <div class="clearfix" id="header-social">
      <ul>
        <li><a id="blog-nav" href="http://www.evodesk.com/blog/">Blog</a></li>
        <li><a id="contact-nav" href="../destination/contact.html">Contact</a></li>
      </ul><a href="http://www.facebook.com/evodesk"><i class="fa fa-facebook-official" aria-hidden="true" style="color:white;font-size:1.75rem;"></i></a><a href="https://twitter.com/EvoDesk"><i class="fa fa-twitter" aria-hidden="true" style="color:white;font-size:1.75rem;"></i></a>
    </div>
  </div>
</header>
<script>
  var headroom,myElement;
  $(document).ready(function(){
  // grab an element
  window.myElement = document.querySelector("header");
  // construct an instance of Headroom, passing the element
  window.headroom  = new Headroom(myElement);
  // initialise
  window.headroom.init();
  });
  
</script>
<script type="text/javascript">
  $( document ).ready(function() {
  // this does not appear to be used on this page (no #featured-rotator on page) rgentile 2/27/17
  $('#featured-rotator').jshowoff({
  links: false,
  controls: false,
  effect: 'fade',
  hoverPause: true ,
  changeSpeed: 1000,
  autoPlay: true,
  speed: 5000
  });
  });
</script>
<script type="text/javascript">
  var x=document.getElementsByClassName('myBox');
  for(var i=0; i < x.length; i++)
  {
  x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
  };
</script>
<!-- echo.render(); is also available for non-scroll callbacks-->
<!-- LOAD FONTS-->
<script type="text/javascript" src="//use.typekit.net/ter5vyf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-56768912-1', 'auto');
  ga('send', 'pageview');
</script>
<script src="js/jquery.carouFredSel-6.0.4-packed.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
  // this is the brands carousel
  $('#carousel').carouFredSel({
  responsive: true,
  scroll: 1,
  items: {
  width: 300,
  visible: {
  min: 1,
  max: 10
  }
  }
  });
  });
</script>
<script type="text/javascript" data-cfasync="false">
  window.onload=function() {
  window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } };
  (function()
  {
  var done = false;
  var script = document.createElement('script');
  script.async = true;
  script.type = 'text/javascript';
  script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
  document.getElementsByTagName('HEAD').item(0).appendChild(script);
  script.onreadystatechange = script.onload = function (e)
  {
  if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
  {
  var w = new PCWidget({c: 'c11372c4-0594-4c31-97b4-0e8fc3b99389', f: true });
  done = true;
  purechatApi.on('chat:operatorJoin', function (args)
  {
  $.post("/store/index.php?route=module/sales_agent", {sales_agent: args.operatorName});
  });
  purechatApi.on('email:send', function(args)
  {
  $.post("//www.spindle360.com/formstack", args);
  });
  }
  };
  })();}
</script>
<!-- #EndLibraryItem-->
<!-- #BeginLibraryItem "/Library/nav.lbi"-->
<div class="cd-overlay">
  <nav class="cd-nav">
    <ul class="cd-primary-nav is-fixed" id="cd-primary-nav">
      <li class="has-children"><a id="productNav" href="../destination/standing-desks.html">Products</a>
        <ul class="cd-secondary-nav is-hidden">
          <li class="go-back"><a href="#0">Menu</a></li>
          <li class="has-children"><a href="../destination/standing-desks.html">Standing Desks</a>
            <ul class="is-hidden">
              <li class="go-back"><a href="#0">Products</a></li>
              <li><a href="../destination/standing-desks.html">Overview</a></li>
              <li><a href="../destination/standing-desks.html#features">Features</a></li>
              <li class="has-children"><a href="#0">Models</a>
                <ul class="is-hidden">
                  <li class="go-back"><a href="#0">Back</a></li>
                  <li class="see-all"><a href="../destination/standing-desks.html#models">All Models</a></li>
                  <li><a href="../destination/standing-desks.html#evodesk-standard">Evodesk™</a></li>
                  <li><a href="../destination/evodesk-pro.html">Evodesk Pro™</a></li>
                  <li><a href="../destination/standing-desks.html#evodesk-studio">Evodesk Studio™</a></li>
                  <li><a href="../destination/evodesk-xe.html">Evodesk XE™</a></li>
                </ul>
              </li>
              <li><a href="../destination/gaming-desks.html">Gaming Desks</a></li>
              <li class="has-children"><a href="#0">Options & Accessories</a>
                <ul class="is-hidden options-menu">
                  <li class="go-back"><a href="#0">Back</a></li>
                  <li class="see-all"><a href="../destination/options.html">All Options Overview</a></li>
                  <li><a href="../destination/options.html#controller">Programmable Controller</a></li>
                  <li><a href="../destination/options.html#keyboard-platform">Keyboard Platform</a></li>
                  <li><a href="../destination/options.html#harman-kardon">Harman Kardon® Integrated</a></li>
                  <li><a href="../destination/options.html#ergopro">Ergo Edge Desktop</a></li>
                  <li><a href="../destination/options.html#monitor-arms">Evo Monitor Arms</a></li>
                  <li><a href="../destination/options.html#cable-tray">Cable Management Tray</a></li>
                  <li><a href="../destination/options.html#casters">Casters</a></li>
                  <li><a href="../destination/options.html#treadmill">Treadmill System</a></li>
                  <li><a href="../destination/options.html#cpu-mount">Evo CPU Mount</a></li>
                  <li><a href="../destination/deskshields.html">DeskShields™</a></li>
                  <li><a href="../destination/standing-desk-storage.html">Storage Pods</a></li>
                </ul>
              </li>
              <li><a href="../destination/specifications.html">Specifications</a></li>
              <li><a href="../destination/gallery.html">Gallery</a></li>
              <li class="has-children"><a href="#0">Downloads</a>
                <ul class="is-hidden">
                  <li class="go-back"><a href="#0">Back</a></li>
                  <li><a href="../destination/downloads.html">All Downloads</a></li>
                  <li class="see-all"><a href="http://www.evodesk.com/media/evodesk-brochure.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>  PDF Brochure</a></li>
                  <li><a href="http://www.evodesk.com/media/evodesk-assembly-v3.pdf" target="_blank">Assembly Manual</a></li>
                  <li><a href="../destination/downloads.html">Evodesk Diagrams</a></li>
                </ul>
              </li>
              <li><a href="https://www.evodesk.com/store/">Store</a></li>
            </ul>
          </li>
          <li class="has-children bg-grey desktop-only relative" id="index-feature">
            <!-- <a href="http://www.evodesk.com/standing-desks.html?play=1">Featured Video</a>-->
            <div class="navtilerow navtilerow1">
              <div class="navtile tile-explore" data-href="../destination/standing-desks.html">
                <div>
                  <h1>STANDING DESK COLLECTION</h1>
                  <h2><em>EXPLORE</em> THE POSSIBILITIES</h2>
                  <p>Find out how distinctive design and<br/>innovation can elevate your experience</p><a href="../destination/standing-desks.html">LEARN MORE</a>
                </div>
              </div>
              <div class="navtile tile-elevate" data-href="../destination/standing-desks.html?play=1">
                <div>
                  <h1><em>ELEVATE</em> YOUR EXPECTATIONS</h1><a href="../destination/standing-desks.html?play=1"><img src="http://www.evodesk.com/img/videoplaybutton.png"/></a><a href="../destination/standing-desks.html?play=1">WATCH THE VIDEO</a>
                </div>
              </div>
            </div>
            <div class="navtilerow navtilerow2">
              <div class="navtile tile-evodesk" data-href="http://www.evodesk.com/standing-desks.html#evodesk-standard">
                <div>
                  <h1>Evodesk<sup>™</sup></h1><a href="../destination/standing-desks.html#evodesk-standard">LEARN MORE</a>
                </div>
              </div>
              <div class="navtile tile-evodeskpro" data-href="../destination/evodesk-pro.html">
                <div>
                  <h1>Evodesk <span>PRO</span><sup>™</sup></h1><a href="../destination/evodesk-pro.html">LEARN MORE</a>
                </div>
              </div>
              <div class="navtile tile-evodeskxe" data-href="../destination/evodesk-xe.html">
                <div>
                  <h1>Evodesk <span>XE</span><sup>™</sup></h1><a href="../destination/evodesk-xe.html">LEARN MORE</a>
                </div>
              </div>
              <div class="navtile tile-studiol" data-href="../destination/standing-desks.html#evodesk-studio">
                <div>
                  <h1>Evodesk <span>Studio L</span><sup>™</sup></h1><a href="../destination/standing-desks.html#evodesk-studio">LEARN MORE</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li><a href="../destination/standing-desks.html?play=1">Video</a></li>
      <li><a id="reviewsNav" href="../destination/reviews.html">Reviews</a></li>
      <li><a id="compareNav" href="../destination/compare.html">Compare</a></li>
      <!-- Mobile Only Visible-->
      <li><a class="mobile-only" href="http://www.evodesk.com/about">About</a></li>
      <li><a class="mobile-only" href="http://www.evodesk.com/blog/">Blog</a></li>
      <li><a class="mobile-only" href="../destination/contact.html">Contact</a></li>
    </ul>
    <!-- primary-nav-->
  </nav>
  <script>
    $(function()
    {
    $(".navtile").click(function()
    {
    window.location = $(this).data("href");
    });
    });
  </script>
  <!-- #EndLibraryItem-->
</div>
<script type="text/javascript">
  // Rotator
  $('#quotes-rotator').jshowoff({
  links: false,
  controls: false,
  effect: 'fade',
  hoverPause: false,
  changeSpeed: 600,
  autoPlay: true,
  speed: 5000
  });
</script>
<style>
  .fader {
  position:relative;
  width:100%;
  min-height:700px;
  }
  .fader-item {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  }
  .visible {
  z-index:999;
  }
  .pantonebanner {
  background-image:radial-gradient(rgba(253,253,253,1) 0%, rgba(153,153,153,1) 80%) !important;
  }
  .pantonebanner h1 {
  color:black !important;
  text-shadow:none !important;
  }
  .pantonebanner h3 {
  color:black !important;
  text-shadow:none !important;
  }
  .pantonebanner p {
  color:black !important;
  text-shadow:none !important;
  }
  @media (max-width:1300px)
  {
  .fader {
  min-height:540px;
  }
  }
  @media (max-width:736px)
  {
  .fader {
  min-height:470px;
  }
  }
  @media (min-width:1300px)
  {
  .pantonebanner #banner-text {
  padding-top:240px !important;
  }
  }
  .pantonebanner #home-banner2 {
  left:31%;
  height:77%;
  }
  .colorswatch {
  box-sizing:border-box;
  position:absolute;
  right:100px;
  bottom:10%;
  background:white;
  padding:2px 2px 6px 2px;
  line-height:1rem;
  font-family:'Proxima Nova', sans-serif;
  box-shadow:0 0 20px 10px rgba(0,0,0,0.1);
  /*-webkit-animation-duration: 2s !important;*/
  /*animation-duration: 2s !important;*/
  }
  .colorswatch .greenerycolor {
  background-color:#85af4b;
  width:145px;
  height:150px;
  margin-bottom:6px;
  }
  .colorswatch h1 {
  color:black !important;
  padding:2px 6px;
  margin:0;
  font-size:1.25rem;
  font-weight:700;
  font-family:'Proxima Nova', sans-serif;
  }
  .colorswatch h1 sup {
  position:relative;
  top:-4px;
  }
  .colorswatch h2 {
  color:black;
  padding:2px 6px;
  margin:0;
  font-size:1rem;
  font-weight:500;
  font-family:'Proxima Nova', sans-serif;
  }
  @media (max-width:736px)
  {
  .pantonebanner #home-banner2 {
  left:11%;
  height:53%;
  }
  .pantonebanner #banner-text p {
  text-shadow: 0 2px 20px rgba(0, 0, 0, 1.0);
  }
  .colorswatch {
  display:none;
  }
  }
</style>
<script>
  $(document).ready(function(){
  $('.bxslider-hero').bxSlider({
  auto: true,
  pause: 3500,  // how long each slide is displayed
  mode: 'fade',
  easing: 'easeOutElastic',
  speed:2000,  // speed of fade
  controls: false,
  pager:true,
  infiniteLoop: true
  });
  });
</script>
