src/shipping.pug
doctype html
html
	include head
	body#options-page
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		#max-wrapper
			include navbar
			main.cd-main-content
				// main
				.banner-policy
					.wrapper-container
						#banner-text
							h3 SHIPPING & RETURNS
							p
								| Learn more about our shipping and return procedured below
				section.policy-content
					.wrapper
						h3 Domestic Shipping
						p
							| Evodesk ships 48&rdquo; desks, 60&rdquo; desks and accessories via Fed Ex. 72&rdquo; and larger desks must be shipped via truck lines due to size.
						h3 International Shipping
						p
							| Evodesk will gladly ship products worldwide to most international destinations. The Evodesk Online Store ships within the United States of America and Canada. If you wish to get an international shipping quote on any of our products, please use our 
							a.text-link-small(href='http://www.evodesk.com/international-shipping') international shipping form
							|  to obtain a shipping quote.
						h3 Options for home delivery
						p Desks that are 60&rdquo; and smaller will be delivered via Fed Ex.
						p
							| For desks that are 72&rdquo; and larger, there are two types of delivery options: curbside delivery and inside delivery. With curbside delivery, the driver will bring the desk to the end of the driveway at the delivery location. The driver cannot bring the time under any coverings or inside your delivery location. Depending on the shipping company, they may remove the item from their truck. The second type of delivery is Inside Delivery. The driver will help bring the item inside your home. Inside delivery typically costs an extra $75. Extraordinary delivery requirements such as a multi-level building may require additional delivery charges.
						h3 Inspecting shipment for damage
						p
							| Many of our desks are large and rather heavy. Do not sign for a package before you inspect it. First, inspect the box for obvious damage. We then recommend that you open the box that contains the desktop to inspect for concealed damage. Once the driver leaves it becomes the buyer&rsquo;s responsibility to file a claim. Call the carrier immediately for instructions or visit their website for detailed instructions.
						h3 Large Desk Deliveries (desks 72&rdquo; or larger)
						p
							| The carrier will typically call to schedule a delivery appointment. Appointments are available during normal business hours and a 4 hour period. Please include a daytime phone number in the shipping information at the time of checkout.
						span#returns
						h3 Shipping date
						p Please allow 1-3 days for order processing. Transit time is normally 2-4 days.
						h3 Returns
						p
							| We believe you&apos;ll be thrilled with your new Evodesk. That&apos;s because we go out of our way to ensure each Evodesk is designed and built to be just what you want. We understand, however, that sometimes a product is not a good fit for you or your space for whatever reason. In that unlikely event, we invite you to return it.
						p
							| You may return your undamaged Evodesk with the receipt and packing within 30 days of purchase for a full refund of the purchase price less any shipping or installation charges. If Evodesk is returned within this timeframe and in its original condition, we&apos;ll exchange it for a new one or offer a refund based on the original payment method.
						h3 How to return
						p
							| Prior to shipping your item back to Evodesk, you must call or visit our contact us page to obtain an RGA number. To avoid damage during the return, it is required that you ship any return to Evodesk in its original packaging or equivalent packaging. You must ship any product to the address given to you when your RGA is issued. It is important to write the RGA number on the outside of each box so we may issue the credit to you.
						h3 Refunds
						p
							| The way your refund is processed depends on your original payment method. Credit card refunds will be issued to the same card bank within 7 business days of receipt of the returned item. If you paid via cash or check, we will mail you a check to your billing address within 14 days of receipt of the returned product.
				include footer


						

destination/shipping.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Standing desks took a huge leap forward | Evodesk</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Standing desks just took a huge leap forward.  Evodesk changed the momentum of what a standing desk should be.  Evodesk is only $599 for a limited time.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="p:domain_verify" content="02d8a2265ef5e677ed1c479575789266">
    <!-- Canonical Link-->
    <link rel="canonical" href="http://www.evodesk.com/standing-desks">
    <!--if lt IE 9script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    -->
    <link rel="stylesheet" href="../css/navbar-styles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/jsshowoff.min.js"></script>
    <script src="../js/jquery.carouFredSel-6.0.4-packed.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body id="options-page">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH" height="0" width="0" style="display:none;visibility:hidden;"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div id="max-wrapper">
      <header class="cd-main-header headroom">
        <div class="wrapper clearfix relative"><a id="logo" href="../destination/index.html"></a>
          <ul class="cd-header-buttons">
            <li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
          </ul>
          <!-- cd-header-buttons-->
          <div class="clearfix" id="header-social">
            <ul>
              <li><a id="blog-nav" href="http://www.evodesk.com/blog/">Blog</a></li>
              <li><a id="contact-nav" href="../destination/contact.html">Contact</a></li>
            </ul><a href="http://www.facebook.com/evodesk"><i class="fa fa-facebook-official" aria-hidden="true" style="color:white;font-size:1.75rem;"></i></a><a href="https://twitter.com/EvoDesk"><i class="fa fa-twitter" aria-hidden="true" style="color:white;font-size:1.75rem;"></i></a>
          </div>
        </div>
      </header>
      <script>
        var headroom,myElement;
        $(document).ready(function(){
        // grab an element
        window.myElement = document.querySelector("header");
        // construct an instance of Headroom, passing the element
        window.headroom  = new Headroom(myElement);
        // initialise
        window.headroom.init();
        });
        
      </script>
      <script type="text/javascript">
        $( document ).ready(function() {
        // this does not appear to be used on this page (no #featured-rotator on page) rgentile 2/27/17
        $('#featured-rotator').jshowoff({
        links: false,
        controls: false,
        effect: 'fade',
        hoverPause: true ,
        changeSpeed: 1000,
        autoPlay: true,
        speed: 5000
        });
        });
      </script>
      <script type="text/javascript">
        var x=document.getElementsByClassName('myBox');
        for(var i=0; i < x.length; i++)
        {
        x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
        };
      </script>
      <!-- echo.render(); is also available for non-scroll callbacks-->
      <!-- LOAD FONTS-->
      <script type="text/javascript" src="//use.typekit.net/ter5vyf.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56768912-1', 'auto');
        ga('send', 'pageview');
      </script>
      <script src="js/jquery.carouFredSel-6.0.4-packed.js" type="text/javascript"></script>
      <script type="text/javascript">
        $(function() {
        // this is the brands carousel
        $('#carousel').carouFredSel({
        responsive: true,
        scroll: 1,
        items: {
        width: 300,
        visible: {
        min: 1,
        max: 10
        }
        }
        });
        });
      </script>
      <script type="text/javascript" data-cfasync="false">
        window.onload=function() {
        window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } };
        (function()
        {
        var done = false;
        var script = document.createElement('script');
        script.async = true;
        script.type = 'text/javascript';
        script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
        document.getElementsByTagName('HEAD').item(0).appendChild(script);
        script.onreadystatechange = script.onload = function (e)
        {
        if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
        {
        var w = new PCWidget({c: 'c11372c4-0594-4c31-97b4-0e8fc3b99389', f: true });
        done = true;
        purechatApi.on('chat:operatorJoin', function (args)
        {
        $.post("/store/index.php?route=module/sales_agent", {sales_agent: args.operatorName});
        });
        purechatApi.on('email:send', function(args)
        {
        $.post("//www.spindle360.com/formstack", args);
        });
        }
        };
        })();}
      </script>
      <!-- #EndLibraryItem-->
      <!-- #BeginLibraryItem "/Library/nav.lbi"-->
      <div class="cd-overlay">
        <nav class="cd-nav">
          <ul class="cd-primary-nav is-fixed" id="cd-primary-nav">
            <li class="has-children"><a id="productNav" href="../destination/standing-desks.html">Products</a>
              <ul class="cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#0">Menu</a></li>
                <li class="has-children"><a href="../destination/standing-desks.html">Standing Desks</a>
                  <ul class="is-hidden">
                    <li class="go-back"><a href="#0">Products</a></li>
                    <li><a href="../destination/standing-desks.html">Overview</a></li>
                    <li><a href="../destination/standing-desks.html#features">Features</a></li>
                    <li class="has-children"><a href="#0">Models</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="see-all"><a href="../destination/standing-desks.html#models">All Models</a></li>
                        <li><a href="../destination/standing-desks.html#evodesk-standard">Evodesk™</a></li>
                        <li><a href="../destination/evodesk-pro.html">Evodesk Pro™</a></li>
                        <li><a href="../destination/standing-desks.html#evodesk-studio">Evodesk Studio™</a></li>
                        <li><a href="../destination/evodesk-xe.html">Evodesk XE™</a></li>
                      </ul>
                    </li>
                    <li><a href="../destination/gaming-desks.html">Gaming Desks</a></li>
                    <li class="has-children"><a href="#0">Options & Accessories</a>
                      <ul class="is-hidden options-menu">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="see-all"><a href="../destination/options.html">All Options Overview</a></li>
                        <li><a href="../destination/options.html#controller">Programmable Controller</a></li>
                        <li><a href="../destination/options.html#keyboard-platform">Keyboard Platform</a></li>
                        <li><a href="../destination/options.html#harman-kardon">Harman Kardon® Integrated</a></li>
                        <li><a href="../destination/options.html#ergopro">Ergo Edge Desktop</a></li>
                        <li><a href="../destination/options.html#monitor-arms">Evo Monitor Arms</a></li>
                        <li><a href="../destination/options.html#cable-tray">Cable Management Tray</a></li>
                        <li><a href="../destination/options.html#casters">Casters</a></li>
                        <li><a href="../destination/options.html#treadmill">Treadmill System</a></li>
                        <li><a href="../destination/options.html#cpu-mount">Evo CPU Mount</a></li>
                        <li><a href="../destination/deskshields.html">DeskShields™</a></li>
                        <li><a href="../destination/standing-desk-storage.html">Storage Pods</a></li>
                      </ul>
                    </li>
                    <li><a href="../destination/specifications.html">Specifications</a></li>
                    <li><a href="../destination/gallery.html">Gallery</a></li>
                    <li class="has-children"><a href="#0">Downloads</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li><a href="../destination/downloads.html">All Downloads</a></li>
                        <li class="see-all"><a href="http://www.evodesk.com/media/evodesk-brochure.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>  PDF Brochure</a></li>
                        <li><a href="http://www.evodesk.com/media/evodesk-assembly-v3.pdf" target="_blank">Assembly Manual</a></li>
                        <li><a href="../destination/downloads.html">Evodesk Diagrams</a></li>
                      </ul>
                    </li>
                    <li><a href="https://www.evodesk.com/store/">Store</a></li>
                  </ul>
                </li>
                <li class="has-children bg-grey desktop-only relative" id="index-feature">
                  <!-- <a href="http://www.evodesk.com/standing-desks.html?play=1">Featured Video</a>-->
                  <div class="navtilerow navtilerow1">
                    <div class="navtile tile-explore" data-href="../destination/standing-desks.html">
                      <div>
                        <h1>STANDING DESK COLLECTION</h1>
                        <h2><em>EXPLORE</em> THE POSSIBILITIES</h2>
                        <p>Find out how distinctive design and<br>innovation can elevate your experience</p><a href="../destination/standing-desks.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-elevate" data-href="../destination/standing-desks.html?play=1">
                      <div>
                        <h1><em>ELEVATE</em> YOUR EXPECTATIONS</h1><a href="../destination/standing-desks.html?play=1"><img src="http://www.evodesk.com/img/videoplaybutton.png"></a><a href="../destination/standing-desks.html?play=1">WATCH THE VIDEO</a>
                      </div>
                    </div>
                  </div>
                  <div class="navtilerow navtilerow2">
                    <div class="navtile tile-evodesk" data-href="http://www.evodesk.com/standing-desks.html#evodesk-standard">
                      <div>
                        <h1>Evodesk<sup>™</sup></h1><a href="../destination/standing-desks.html#evodesk-standard">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-evodeskpro" data-href="../destination/evodesk-pro.html">
                      <div>
                        <h1>Evodesk <span>PRO</span><sup>™</sup></h1><a href="../destination/evodesk-pro.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-evodeskxe" data-href="../destination/evodesk-xe.html">
                      <div>
                        <h1>Evodesk <span>XE</span><sup>™</sup></h1><a href="../destination/evodesk-xe.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-studiol" data-href="../destination/standing-desks.html#evodesk-studio">
                      <div>
                        <h1>Evodesk <span>Studio L</span><sup>™</sup></h1><a href="../destination/standing-desks.html#evodesk-studio">LEARN MORE</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="../destination/standing-desks.html?play=1">Video</a></li>
            <li><a id="reviewsNav" href="../destination/reviews.html">Reviews</a></li>
            <li><a id="compareNav" href="../destination/compare.html">Compare</a></li>
            <!-- Mobile Only Visible-->
            <li><a class="mobile-only" href="http://www.evodesk.com/about">About</a></li>
            <li><a class="mobile-only" href="http://www.evodesk.com/blog/">Blog</a></li>
            <li><a class="mobile-only" href="../destination/contact.html">Contact</a></li>
          </ul>
          <!-- primary-nav-->
        </nav>
        <script>
          $(function()
          {
          $(".navtile").click(function()
          {
          window.location = $(this).data("href");
          });
          });
        </script>
        <!-- #EndLibraryItem-->
      </div>
      <script type="text/javascript">
        // Rotator
        $('#quotes-rotator').jshowoff({
        links: false,
        controls: false,
        effect: 'fade',
        hoverPause: false,
        changeSpeed: 600,
        autoPlay: true,
        speed: 5000
        });
      </script>
      <style>
        .fader {
        position:relative;
        width:100%;
        min-height:700px;
        }
        .fader-item {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        }
        .visible {
        z-index:999;
        }
        .pantonebanner {
        background-image:radial-gradient(rgba(253,253,253,1) 0%, rgba(153,153,153,1) 80%) !important;
        }
        .pantonebanner h1 {
        color:black !important;
        text-shadow:none !important;
        }
        .pantonebanner h3 {
        color:black !important;
        text-shadow:none !important;
        }
        .pantonebanner p {
        color:black !important;
        text-shadow:none !important;
        }
        @media (max-width:1300px)
        {
        .fader {
        min-height:540px;
        }
        }
        @media (max-width:736px)
        {
        .fader {
        min-height:470px;
        }
        }
        @media (min-width:1300px)
        {
        .pantonebanner #banner-text {
        padding-top:240px !important;
        }
        }
        .pantonebanner #home-banner2 {
        left:31%;
        height:77%;
        }
        .colorswatch {
        box-sizing:border-box;
        position:absolute;
        right:100px;
        bottom:10%;
        background:white;
        padding:2px 2px 6px 2px;
        line-height:1rem;
        font-family:'Proxima Nova', sans-serif;
        box-shadow:0 0 20px 10px rgba(0,0,0,0.1);
        /*-webkit-animation-duration: 2s !important;*/
        /*animation-duration: 2s !important;*/
        }
        .colorswatch .greenerycolor {
        background-color:#85af4b;
        width:145px;
        height:150px;
        margin-bottom:6px;
        }
        .colorswatch h1 {
        color:black !important;
        padding:2px 6px;
        margin:0;
        font-size:1.25rem;
        font-weight:700;
        font-family:'Proxima Nova', sans-serif;
        }
        .colorswatch h1 sup {
        position:relative;
        top:-4px;
        }
        .colorswatch h2 {
        color:black;
        padding:2px 6px;
        margin:0;
        font-size:1rem;
        font-weight:500;
        font-family:'Proxima Nova', sans-serif;
        }
        @media (max-width:736px)
        {
        .pantonebanner #home-banner2 {
        left:11%;
        height:53%;
        }
        .pantonebanner #banner-text p {
        text-shadow: 0 2px 20px rgba(0, 0, 0, 1.0);
        }
        .colorswatch {
        display:none;
        }
        }
      </style>
      <script>
        $(document).ready(function(){
        $('.bxslider-hero').bxSlider({
        auto: true,
        pause: 3500,  // how long each slide is displayed
        mode: 'fade',
        easing: 'easeOutElastic',
        speed:2000,  // speed of fade
        controls: false,
        pager:true,
        infiniteLoop: true
        });
        });
      </script>
      <main class="cd-main-content">
        <!-- main-->
        <div class="banner-policy">
          <div class="wrapper-container">
            <div id="banner-text">
              <h3>SHIPPING & RETURNS</h3>
              <p>Learn more about our shipping and return procedured below</p>
            </div>
          </div>
        </div>
        <section class="policy-content">
          <div class="wrapper">
            <h3>Domestic Shipping</h3>
            <p>Evodesk ships 48&rdquo; desks, 60&rdquo; desks and accessories via Fed Ex. 72&rdquo; and larger desks must be shipped via truck lines due to size.</p>
            <h3>International Shipping</h3>
            <p>Evodesk will gladly ship products worldwide to most international destinations. The Evodesk Online Store ships within the United States of America and Canada. If you wish to get an international shipping quote on any of our products, please use our <a class="text-link-small" href="http://www.evodesk.com/international-shipping">international shipping form</a> to obtain a shipping quote.</p>
            <h3>Options for home delivery</h3>
            <p>Desks that are 60&rdquo; and smaller will be delivered via Fed Ex.</p>
            <p>For desks that are 72&rdquo; and larger, there are two types of delivery options: curbside delivery and inside delivery. With curbside delivery, the driver will bring the desk to the end of the driveway at the delivery location. The driver cannot bring the time under any coverings or inside your delivery location. Depending on the shipping company, they may remove the item from their truck. The second type of delivery is Inside Delivery. The driver will help bring the item inside your home. Inside delivery typically costs an extra $75. Extraordinary delivery requirements such as a multi-level building may require additional delivery charges.</p>
            <h3>Inspecting shipment for damage</h3>
            <p>Many of our desks are large and rather heavy. Do not sign for a package before you inspect it. First, inspect the box for obvious damage. We then recommend that you open the box that contains the desktop to inspect for concealed damage. Once the driver leaves it becomes the buyer&rsquo;s responsibility to file a claim. Call the carrier immediately for instructions or visit their website for detailed instructions.</p>
            <h3>Large Desk Deliveries (desks 72&rdquo; or larger)</h3>
            <p>The carrier will typically call to schedule a delivery appointment. Appointments are available during normal business hours and a 4 hour period. Please include a daytime phone number in the shipping information at the time of checkout.</p><span id="returns"></span>
            <h3>Shipping date</h3>
            <p>Please allow 1-3 days for order processing. Transit time is normally 2-4 days.</p>
            <h3>Returns</h3>
            <p>We believe you&apos;ll be thrilled with your new Evodesk. That&apos;s because we go out of our way to ensure each Evodesk is designed and built to be just what you want. We understand, however, that sometimes a product is not a good fit for you or your space for whatever reason. In that unlikely event, we invite you to return it.</p>
            <p>You may return your undamaged Evodesk with the receipt and packing within 30 days of purchase for a full refund of the purchase price less any shipping or installation charges. If Evodesk is returned within this timeframe and in its original condition, we&apos;ll exchange it for a new one or offer a refund based on the original payment method.</p>
            <h3>How to return</h3>
            <p>Prior to shipping your item back to Evodesk, you must call or visit our contact us page to obtain an RGA number. To avoid damage during the return, it is required that you ship any return to Evodesk in its original packaging or equivalent packaging. You must ship any product to the address given to you when your RGA is issued. It is important to write the RGA number on the outside of each box so we may issue the credit to you.</p>
            <h3>Refunds</h3>
            <p>The way your refund is processed depends on your original payment method. Credit card refunds will be issued to the same card bank within 7 business days of receipt of the returned item. If you paid via cash or check, we will mail you a check to your billing address within 14 days of receipt of the returned product.</p>
          </div>
        </section>
        <footer id="footer">
          <div class="wrapper-container">
            <ul class="footer-nav" id="footer-row1">
              <li class="footer-title"><a href="http://www.evodesk.com/standing-desks">Products</a></li>
              <li><a href="http://www.evodesk.com/standing-desks">Standing Desks</a></li>
              <li><a href="http://www.evodesk.com/gaming-desk">Gaming Desk</a></li>
              <li><a href="http://www.evodesk.com/standing-desks">Features</a></li>
              <li><a href="http://www.evodesk.com/standing-desks#overview">Watch the Video</a></li>
              <li><a href="http://www.evodesk.com/compare">Compare</a></li>
              <li><a href="http://www.evodesk.com/options">All Options</a></li>
              <li><a href="http://www.evodesk.com/gallery">Gallery</a></li>
              <li><a href="http://www.evodesk.com/reviews">Reviews</a></li>
              <li><a href="http://www.evodesk.com/media/evodesk-brochure.pdf" target="_blank">Brochure</a></li>
              <li><a href="http://www.evodesk.com/manual" target="_blank">Assembly Manual</a></li>
              <li><a href="http://www.evodesk.com/downloads">Downloads</a></li>
              <li><a href="http://www.evodesk.com/specifications">Specifications</a></li>
            </ul>
            <ul class="footer-nav" id="footer-row2">
              <li class="footer-title"><a href="http://www.evodesk.com/store">Get Evodesk</a></li>
              <li><a href="http://www.evodesk.com/store">Evodesk Store</a></li>
              <li><a href="http://www.evodesk.com/shipping">Shipping</a></li>
              <li><a href="http://www.evodesk.com/shipping#returns">Returns and Refunds</a></li>
              <li><a href="http://www.evodesk.com/financing">Financing</a></li>
              <li><a href="http://www.evodesk.com/store/login">My Account</a></li>
              <li><a href="http://www.evodesk.com/store/checkout/cart">View Cart</a></li>
            </ul>
            <ul class="footer-nav" id="footer-row3">
              <li class="footer-title"><a href="http://www.evodesk.com/contact">Get in Touch</a></li>
              <li><a href="http://www.evodesk.com/about">About Us</a></li>
              <li><a href="http://www.evodesk.com/blog">Blog</a></li>
              <li><a href="http://www.evodesk.com/contact">Contact</a></li>
              <li><a href="http://www.evodesk.com/international-shipping">International Shipping</a></li>
              <li><a href="http://www.evodesk.com/contact">Request a Phone Call</a></li>
              <li><a href="http://www.evodesk.com/privacy-policy">Privacy Policy</a></li>
              <li><a href="http://www.evodesk.com/terms-of-use">Terms of Use</a></li>
            </ul>
            <div class="footer clearfix"></div>
            <div id="footer-info"><a href="http://www.evodesk.com">
                <div id="footer-logo"></div></a>
              <p class="copyright">Copyright © 2015 Evodesk.com<br> All Rights Reserved<br><a href="http://www.evodesk.com/privacy-policy">Privacy Policy</a> / <a href="http://www.evodesk.com/terms-of-use">Terms of Use</a></p><br>
              <div id="footer-social">
                <p>Get Social</p><a href="https://www.facebook.com/evodesk"><img src="http://www.evodesk.com/img/facebook-header.png" width="25" height="25" alt="facebook header"></a><a href="https://twitter.com/EvoDesk"><img src="http://www.evodesk.com/img/twitter-header.png" width="25" height="25" alt="twitter header"></a>
              </div><img style="max-width: 200px;              width: 100%;              height: auto;              display: inline-block;              padding: 30px 0 0 0;              -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */              filter: grayscale(100%);              max-width: 165px;              opacity: .65;" src="http://www.evodesk.com/img/payment-methods.png" alt="Secured checkout payment options">
              <p style="color: #666; font-size: 10px; text-transform: uppercase; padding: 0 0 20px 0; margin: 0;">Secured checkout</p>
              <div class="clearfix"></div>
            </div>
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
