src/specifications.pug
doctype html
html
  head
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WV9HWZH');
    // End Google Tag Manager
    link(rel='dns-prefetch', href='http://www.evodesk.com')
    link(rel='dns-prefetch', href='http://d17bplqo9q3lum.cloudfront.net')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Specifications | Evodesk
    meta(name='description', content='Explore Evodesk specifications and diagrams for precise measurements and details.')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/styles.css')
    link(rel='stylesheet', href='../css/navbar-styles.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../js/nav.js')
    script(src='../js/plugins.js')
    script(src='../js/jquery.carouFredSel-6.0.4-packed.js')
    meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
    style(type='text/css').
      #about-nav {color: #00bbde;}
      #banner {  background-position: 0px -190px;}
      @media all and (max-width: 1000px) {
      #about-nav  {color: #00bbde !important;}
      }
    // Canonical Link
    link(rel='canonical', href='http://www.evodesk.com/specifications')
  body#options-page
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #max-wrapper
      // #BeginLibraryItem "/Library/header.lbi"
      include navbar
      main.cd-main-content
        // #EndLibraryItem
        section#banner-specifications
            #banner-text.animated.fadeIn
              h3 Every Detail Matters.
              h1 Standing Desk Specifications
              p
                | Learn more about the specifics that set Evodesk apart from the rest. Quality materials, more features, more possibilities.
        section#desktop-specifications.common-specification-styles
          .wrapper-container
            h3 Desktop Specifications
            img#desktop-specs-img(src='http://www.evodesk.com/img/evodesk-desktops-specifications.jpg', width='1100', height='285', alt='evodesk desktop specifications')
            .specs-wrapper
              ul
                li 100% reclaimed/recycled wood desktops
                li Available in 100% Recycled wood, Natural Bamboo, or Reclaimed Rubberwood
                li EvoGuard™ durable & stylish non-VOC seamless coating on 100% Recycled wood.
                li
                  | Natural Bamboo and Rubberwood protected by 100% solid ultraviolet cured finish (non-VOC and solvent-free)
                li Soft comfort edges eliminate nerve compression and pressure fatigue
                li Corners are slightly rounded for improved safety and style 
                li Oversized 3” x 6” Cable Pass Through
                li Pre-drilled for quick and easy setup
                li
                  | Available sizes: 
                  strong 48"
                  |  (30” x 48" x .75”), 
                  strong  60"
                  |  (30” x 60” x .75”), 
                  strong 72"
                  |  (30” x 72” x .75”)
                li
                  | Available Finishes:Carbon Black, Polar White, Slate Grey (in EvoGuard™) - Light, Medium, Dark UV cured finish (in Rubberwood & Natural Bamboo)
                li Studio L Size: Return Side (72” x 46” x .75”) User Side (72” x 28” x .75”)
                li Meets California Air Resources Board’s (CARB 2) stringent emission standard
                li Backed by a no-nonsense 5-year limited warranty
                li
                  | Optional Extended Warranty Coverage for an additional 3 or 6 years for 8 or 11 years total.
                li
                  a.text-link(href='http://www.evodesk.com/media/desktop-diagrams.pdf', target='_blank')
                    i.fa.fa-file-pdf-o
                    |  Download Standard Desktop Specs ›
                li
                  a.text-link(href='http://www.evodesk.com/media/studio-l-desktop-diagram.pdf', target='_blank')
                    i.fa.fa-file-pdf-o
                    |  Download Studio-L Desktop Specs ›
            .specs-downloads
              .full50.float-left.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-desktops.jpg', width='250', height='232', alt='Download Evodesk Desktops Diagram PDF')
                h2 Rectangle Desktop Diagrams
                a.text-link(href='http://www.evodesk.com/media/desktop-diagrams.pdf') Download PDF
              .full50.float-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/studio-l-desktop-diagram.jpg', width='250', height='232', alt='Download Evodesk Desktops Diagram PDF')
                h2 Studio-L™ Desktop Diagrams
                a.text-link(href='http://www.evodesk.com/media/studio-l-desktop-diagram.pdf') Download PDF
        section#frame-specifications.common-specification-styles
          .wrapper-container
            h3 Evolution™ Frame Specifications
            img#frame-specs-img(src='http://www.evodesk.com/img/frame-specifications.jpg', width='1100', height='583', alt='evodesk frame specification')
            .specs-wrapper
              ul
                li Power-adjustable height with over 250 positions 
                li Expandable frame works with any 48” – 90” desktops
                li Low-profile push button height controller 
                li Best-in-class 1.5 inches per second transitions
                li Best in class 355 lbs frame weight capacity
                li Best in class maximum height:  49.5”
                li Min height:  23.75”
                li Solvent-free and environmentally friendly finish 
                li EvoSync™ guidance system ensures precise & level movement
                li Dust, air, and moisture resistant frame design
                li Frame and motors are backed by a no-nonsense 5-year limited warranty
                li
                  | Optional Extended Warranty Coverage for an additional 3 or 6 years for 8 or 11 years total.
                li
                  a.text-link(href='http://www.evodesk.com/media/frame-diagram.pdf', target='_blank')
                    i.fa.fa-file-pdf-o
                    |  Download Standard Frame Specs ›
                li
                  a.text-link(href='http://www.evodesk.com/media/studio-l-frame-diagram.pdf', target='_blank')
                    i.fa.fa-file-pdf-o
                    |  Download Studio-L Frame Specs ›
            .specs-downloads
              .full50.float-left.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-frame.jpg', width='250', height='232', alt='Download Evodesk Frame Diagram PDF')
                h2 Evolution™ Frame Diagram
                a.text-link(href='http://www.evodesk.com/media/frame-diagram.pdf') Download PDF
              #manual.full50.float-right.clickDiv
                img.difference-image(src='http://www.evodesk.com/img/download-manual.jpg', width='250', height='232', alt='Download Evodesk Manual PDF')
                h2 Evodesk Assembly Manual
                a.text-link(href='http://www.evodesk.com/manual-v2') Download PDF
        include finance
        include footer
        script(type='text/javascript').
          var x=document.getElementsByClassName('clickDiv');
          for(var i=0; i < x.length; i++)
          {
          x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
          };

destination/specifications.html
<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WV9HWZH');
    </script>
    <!-- End Google Tag Manager-->
    <link rel="dns-prefetch" href="http://www.evodesk.com">
    <link rel="dns-prefetch" href="http://d17bplqo9q3lum.cloudfront.net">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Specifications | Evodesk</title>
    <meta name="description" content="Explore Evodesk specifications and diagrams for precise measurements and details.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/navbar-styles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/jquery.carouFredSel-6.0.4-packed.js"></script>
    <meta name="p:domain_verify" content="02d8a2265ef5e677ed1c479575789266">
    <style type="text/css">
      #about-nav {color: #00bbde;}
      #banner {  background-position: 0px -190px;}
      @media all and (max-width: 1000px) {
      #about-nav  {color: #00bbde !important;}
      }
    </style>
    <!-- Canonical Link-->
    <link rel="canonical" href="http://www.evodesk.com/specifications">
  </head>
  <body id="options-page">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH" height="0" width="0" style="display:none;visibility:hidden;"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div id="max-wrapper">
      <!-- #BeginLibraryItem "/Library/header.lbi"-->
      <header class="cd-main-header headroom">
        <div class="wrapper clearfix relative"><a id="logo" href="../destination/index.html"></a>
          <ul class="cd-header-buttons">
            <li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
          </ul>
          <!-- cd-header-buttons-->
          <div class="clearfix" id="header-social">
            <ul>
              <li><a id="blog-nav" href="http://www.evodesk.com/blog/">Blog</a></li>
              <li><a id="contact-nav" href="../destination/contact.html">Contact</a></li>
            </ul><a href="http://www.facebook.com/evodesk"><i class="fa fa-facebook-official" aria-hidden="true" style="color:white;font-size:1.75rem;"></i></a><a href="https://twitter.com/EvoDesk"><i class="fa fa-twitter" aria-hidden="true" style="color:white;font-size:1.75rem;"></i></a>
          </div>
        </div>
      </header>
      <script>
        var headroom,myElement;
        $(document).ready(function(){
        // grab an element
        window.myElement = document.querySelector("header");
        // construct an instance of Headroom, passing the element
        window.headroom  = new Headroom(myElement);
        // initialise
        window.headroom.init();
        });
        
      </script>
      <script type="text/javascript">
        $( document ).ready(function() {
        // this does not appear to be used on this page (no #featured-rotator on page) rgentile 2/27/17
        $('#featured-rotator').jshowoff({
        links: false,
        controls: false,
        effect: 'fade',
        hoverPause: true ,
        changeSpeed: 1000,
        autoPlay: true,
        speed: 5000
        });
        });
      </script>
      <script type="text/javascript">
        var x=document.getElementsByClassName('myBox');
        for(var i=0; i < x.length; i++)
        {
        x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
        };
      </script>
      <!-- echo.render(); is also available for non-scroll callbacks-->
      <!-- LOAD FONTS-->
      <script type="text/javascript" src="//use.typekit.net/ter5vyf.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56768912-1', 'auto');
        ga('send', 'pageview');
      </script>
      <script src="js/jquery.carouFredSel-6.0.4-packed.js" type="text/javascript"></script>
      <script type="text/javascript">
        $(function() {
        // this is the brands carousel
        $('#carousel').carouFredSel({
        responsive: true,
        scroll: 1,
        items: {
        width: 300,
        visible: {
        min: 1,
        max: 10
        }
        }
        });
        });
      </script>
      <script type="text/javascript" data-cfasync="false">
        window.onload=function() {
        window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } };
        (function()
        {
        var done = false;
        var script = document.createElement('script');
        script.async = true;
        script.type = 'text/javascript';
        script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
        document.getElementsByTagName('HEAD').item(0).appendChild(script);
        script.onreadystatechange = script.onload = function (e)
        {
        if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
        {
        var w = new PCWidget({c: 'c11372c4-0594-4c31-97b4-0e8fc3b99389', f: true });
        done = true;
        purechatApi.on('chat:operatorJoin', function (args)
        {
        $.post("/store/index.php?route=module/sales_agent", {sales_agent: args.operatorName});
        });
        purechatApi.on('email:send', function(args)
        {
        $.post("//www.spindle360.com/formstack", args);
        });
        }
        };
        })();}
      </script>
      <!-- #EndLibraryItem-->
      <!-- #BeginLibraryItem "/Library/nav.lbi"-->
      <div class="cd-overlay">
        <nav class="cd-nav">
          <ul class="cd-primary-nav is-fixed" id="cd-primary-nav">
            <li class="has-children"><a id="productNav" href="../destination/standing-desks.html">Products</a>
              <ul class="cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#0">Menu</a></li>
                <li class="has-children"><a href="../destination/standing-desks.html">Standing Desks</a>
                  <ul class="is-hidden">
                    <li class="go-back"><a href="#0">Products</a></li>
                    <li><a href="../destination/standing-desks.html">Overview</a></li>
                    <li><a href="../destination/standing-desks.html#features">Features</a></li>
                    <li class="has-children"><a href="#0">Models</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="see-all"><a href="../destination/standing-desks.html#models">All Models</a></li>
                        <li><a href="../destination/standing-desks.html#evodesk-standard">Evodesk™</a></li>
                        <li><a href="../destination/evodesk-pro.html">Evodesk Pro™</a></li>
                        <li><a href="../destination/standing-desks.html#evodesk-studio">Evodesk Studio™</a></li>
                        <li><a href="../destination/evodesk-xe.html">Evodesk XE™</a></li>
                      </ul>
                    </li>
                    <li><a href="../destination/gaming-desks.html">Gaming Desks</a></li>
                    <li class="has-children"><a href="#0">Options & Accessories</a>
                      <ul class="is-hidden options-menu">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="see-all"><a href="../destination/options.html">All Options Overview</a></li>
                        <li><a href="../destination/options.html#controller">Programmable Controller</a></li>
                        <li><a href="../destination/options.html#keyboard-platform">Keyboard Platform</a></li>
                        <li><a href="../destination/options.html#harman-kardon">Harman Kardon® Integrated</a></li>
                        <li><a href="../destination/options.html#ergopro">Ergo Edge Desktop</a></li>
                        <li><a href="../destination/options.html#monitor-arms">Evo Monitor Arms</a></li>
                        <li><a href="../destination/options.html#cable-tray">Cable Management Tray</a></li>
                        <li><a href="../destination/options.html#casters">Casters</a></li>
                        <li><a href="../destination/options.html#treadmill">Treadmill System</a></li>
                        <li><a href="../destination/options.html#cpu-mount">Evo CPU Mount</a></li>
                        <li><a href="../destination/deskshields.html">DeskShields™</a></li>
                        <li><a href="../destination/standing-desk-storage.html">Storage Pods</a></li>
                      </ul>
                    </li>
                    <li><a href="../destination/specifications.html">Specifications</a></li>
                    <li><a href="../destination/gallery.html">Gallery</a></li>
                    <li class="has-children"><a href="#0">Downloads</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li><a href="../destination/downloads.html">All Downloads</a></li>
                        <li class="see-all"><a href="http://www.evodesk.com/media/evodesk-brochure.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>  PDF Brochure</a></li>
                        <li><a href="http://www.evodesk.com/media/evodesk-assembly-v3.pdf" target="_blank">Assembly Manual</a></li>
                        <li><a href="../destination/downloads.html">Evodesk Diagrams</a></li>
                      </ul>
                    </li>
                    <li><a href="https://www.evodesk.com/store/">Store</a></li>
                  </ul>
                </li>
                <li class="has-children bg-grey desktop-only relative" id="index-feature">
                  <!-- <a href="http://www.evodesk.com/standing-desks.html?play=1">Featured Video</a>-->
                  <div class="navtilerow navtilerow1">
                    <div class="navtile tile-explore" data-href="../destination/standing-desks.html">
                      <div>
                        <h1>STANDING DESK COLLECTION</h1>
                        <h2><em>EXPLORE</em> THE POSSIBILITIES</h2>
                        <p>Find out how distinctive design and<br>innovation can elevate your experience</p><a href="../destination/standing-desks.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-elevate" data-href="../destination/standing-desks.html?play=1">
                      <div>
                        <h1><em>ELEVATE</em> YOUR EXPECTATIONS</h1><a href="../destination/standing-desks.html?play=1"><img src="http://www.evodesk.com/img/videoplaybutton.png"></a><a href="../destination/standing-desks.html?play=1">WATCH THE VIDEO</a>
                      </div>
                    </div>
                  </div>
                  <div class="navtilerow navtilerow2">
                    <div class="navtile tile-evodesk" data-href="http://www.evodesk.com/standing-desks.html#evodesk-standard">
                      <div>
                        <h1>Evodesk<sup>™</sup></h1><a href="../destination/standing-desks.html#evodesk-standard">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-evodeskpro" data-href="../destination/evodesk-pro.html">
                      <div>
                        <h1>Evodesk <span>PRO</span><sup>™</sup></h1><a href="../destination/evodesk-pro.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-evodeskxe" data-href="../destination/evodesk-xe.html">
                      <div>
                        <h1>Evodesk <span>XE</span><sup>™</sup></h1><a href="../destination/evodesk-xe.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-studiol" data-href="../destination/standing-desks.html#evodesk-studio">
                      <div>
                        <h1>Evodesk <span>Studio L</span><sup>™</sup></h1><a href="../destination/standing-desks.html#evodesk-studio">LEARN MORE</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="../destination/standing-desks.html?play=1">Video</a></li>
            <li><a id="reviewsNav" href="../destination/reviews.html">Reviews</a></li>
            <li><a id="compareNav" href="../destination/compare.html">Compare</a></li>
            <!-- Mobile Only Visible-->
            <li><a class="mobile-only" href="http://www.evodesk.com/about">About</a></li>
            <li><a class="mobile-only" href="http://www.evodesk.com/blog/">Blog</a></li>
            <li><a class="mobile-only" href="../destination/contact.html">Contact</a></li>
          </ul>
          <!-- primary-nav-->
        </nav>
        <script>
          $(function()
          {
          $(".navtile").click(function()
          {
          window.location = $(this).data("href");
          });
          });
        </script>
        <!-- #EndLibraryItem-->
      </div>
      <script type="text/javascript">
        // Rotator
        $('#quotes-rotator').jshowoff({
        links: false,
        controls: false,
        effect: 'fade',
        hoverPause: false,
        changeSpeed: 600,
        autoPlay: true,
        speed: 5000
        });
      </script>
      <style>
        .fader {
        position:relative;
        width:100%;
        min-height:700px;
        }
        .fader-item {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        }
        .visible {
        z-index:999;
        }
        .pantonebanner {
        background-image:radial-gradient(rgba(253,253,253,1) 0%, rgba(153,153,153,1) 80%) !important;
        }
        .pantonebanner h1 {
        color:black !important;
        text-shadow:none !important;
        }
        .pantonebanner h3 {
        color:black !important;
        text-shadow:none !important;
        }
        .pantonebanner p {
        color:black !important;
        text-shadow:none !important;
        }
        @media (max-width:1300px)
        {
        .fader {
        min-height:540px;
        }
        }
        @media (max-width:736px)
        {
        .fader {
        min-height:470px;
        }
        }
        @media (min-width:1300px)
        {
        .pantonebanner #banner-text {
        padding-top:240px !important;
        }
        }
        .pantonebanner #home-banner2 {
        left:31%;
        height:77%;
        }
        .colorswatch {
        box-sizing:border-box;
        position:absolute;
        right:100px;
        bottom:10%;
        background:white;
        padding:2px 2px 6px 2px;
        line-height:1rem;
        font-family:'Proxima Nova', sans-serif;
        box-shadow:0 0 20px 10px rgba(0,0,0,0.1);
        /*-webkit-animation-duration: 2s !important;*/
        /*animation-duration: 2s !important;*/
        }
        .colorswatch .greenerycolor {
        background-color:#85af4b;
        width:145px;
        height:150px;
        margin-bottom:6px;
        }
        .colorswatch h1 {
        color:black !important;
        padding:2px 6px;
        margin:0;
        font-size:1.25rem;
        font-weight:700;
        font-family:'Proxima Nova', sans-serif;
        }
        .colorswatch h1 sup {
        position:relative;
        top:-4px;
        }
        .colorswatch h2 {
        color:black;
        padding:2px 6px;
        margin:0;
        font-size:1rem;
        font-weight:500;
        font-family:'Proxima Nova', sans-serif;
        }
        @media (max-width:736px)
        {
        .pantonebanner #home-banner2 {
        left:11%;
        height:53%;
        }
        .pantonebanner #banner-text p {
        text-shadow: 0 2px 20px rgba(0, 0, 0, 1.0);
        }
        .colorswatch {
        display:none;
        }
        }
      </style>
      <script>
        $(document).ready(function(){
        $('.bxslider-hero').bxSlider({
        auto: true,
        pause: 3500,  // how long each slide is displayed
        mode: 'fade',
        easing: 'easeOutElastic',
        speed:2000,  // speed of fade
        controls: false,
        pager:true,
        infiniteLoop: true
        });
        });
      </script>
      <main class="cd-main-content">
        <!-- #EndLibraryItem-->
        <section id="banner-specifications">
          <div class="animated fadeIn" id="banner-text">
            <h3>Every Detail Matters.</h3>
            <h1>Standing Desk Specifications</h1>
            <p>Learn more about the specifics that set Evodesk apart from the rest. Quality materials, more features, more possibilities.</p>
          </div>
        </section>
        <section class="common-specification-styles" id="desktop-specifications">
          <div class="wrapper-container">
            <h3>Desktop Specifications</h3><img id="desktop-specs-img" src="http://www.evodesk.com/img/evodesk-desktops-specifications.jpg" width="1100" height="285" alt="evodesk desktop specifications">
            <div class="specs-wrapper">
              <ul>
                <li>100% reclaimed/recycled wood desktops</li>
                <li>Available in 100% Recycled wood, Natural Bamboo, or Reclaimed Rubberwood</li>
                <li>EvoGuard™ durable & stylish non-VOC seamless coating on 100% Recycled wood.</li>
                <li>Natural Bamboo and Rubberwood protected by 100% solid ultraviolet cured finish (non-VOC and solvent-free)</li>
                <li>Soft comfort edges eliminate nerve compression and pressure fatigue</li>
                <li>Corners are slightly rounded for improved safety and style </li>
                <li>Oversized 3” x 6” Cable Pass Through</li>
                <li>Pre-drilled for quick and easy setup</li>
                <li>Available sizes: <strong>48"</strong> (30” x 48" x .75”), <strong> 60"</strong> (30” x 60” x .75”), <strong>72"</strong> (30” x 72” x .75”)</li>
                <li>Available Finishes:Carbon Black, Polar White, Slate Grey (in EvoGuard™) - Light, Medium, Dark UV cured finish (in Rubberwood & Natural Bamboo)</li>
                <li>Studio L Size: Return Side (72” x 46” x .75”) User Side (72” x 28” x .75”)</li>
                <li>Meets California Air Resources Board’s (CARB 2) stringent emission standard</li>
                <li>Backed by a no-nonsense 5-year limited warranty</li>
                <li>Optional Extended Warranty Coverage for an additional 3 or 6 years for 8 or 11 years total.</li>
                <li><a class="text-link" href="http://www.evodesk.com/media/desktop-diagrams.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Download Standard Desktop Specs ›</a></li>
                <li><a class="text-link" href="http://www.evodesk.com/media/studio-l-desktop-diagram.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Download Studio-L Desktop Specs ›</a></li>
              </ul>
            </div>
            <div class="specs-downloads">
              <div class="full50 float-left clickDiv"><img class="difference-image" src="http://www.evodesk.com/img/download-desktops.jpg" width="250" height="232" alt="Download Evodesk Desktops Diagram PDF">
                <h2>Rectangle Desktop Diagrams</h2><a class="text-link" href="http://www.evodesk.com/media/desktop-diagrams.pdf">Download PDF</a>
              </div>
              <div class="full50 float-right clickDiv"><img class="difference-image" src="http://www.evodesk.com/img/studio-l-desktop-diagram.jpg" width="250" height="232" alt="Download Evodesk Desktops Diagram PDF">
                <h2>Studio-L™ Desktop Diagrams</h2><a class="text-link" href="http://www.evodesk.com/media/studio-l-desktop-diagram.pdf">Download PDF</a>
              </div>
            </div>
          </div>
        </section>
        <section class="common-specification-styles" id="frame-specifications">
          <div class="wrapper-container">
            <h3>Evolution™ Frame Specifications</h3><img id="frame-specs-img" src="http://www.evodesk.com/img/frame-specifications.jpg" width="1100" height="583" alt="evodesk frame specification">
            <div class="specs-wrapper">
              <ul>
                <li>Power-adjustable height with over 250 positions </li>
                <li>Expandable frame works with any 48” – 90” desktops</li>
                <li>Low-profile push button height controller </li>
                <li>Best-in-class 1.5 inches per second transitions</li>
                <li>Best in class 355 lbs frame weight capacity</li>
                <li>Best in class maximum height:  49.5”</li>
                <li>Min height:  23.75”</li>
                <li>Solvent-free and environmentally friendly finish </li>
                <li>EvoSync™ guidance system ensures precise & level movement</li>
                <li>Dust, air, and moisture resistant frame design</li>
                <li>Frame and motors are backed by a no-nonsense 5-year limited warranty</li>
                <li>Optional Extended Warranty Coverage for an additional 3 or 6 years for 8 or 11 years total.</li>
                <li><a class="text-link" href="http://www.evodesk.com/media/frame-diagram.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Download Standard Frame Specs ›</a></li>
                <li><a class="text-link" href="http://www.evodesk.com/media/studio-l-frame-diagram.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Download Studio-L Frame Specs ›</a></li>
              </ul>
            </div>
            <div class="specs-downloads">
              <div class="full50 float-left clickDiv"><img class="difference-image" src="http://www.evodesk.com/img/download-frame.jpg" width="250" height="232" alt="Download Evodesk Frame Diagram PDF">
                <h2>Evolution™ Frame Diagram</h2><a class="text-link" href="http://www.evodesk.com/media/frame-diagram.pdf">Download PDF</a>
              </div>
              <div class="full50 float-right clickDiv" id="manual"><img class="difference-image" src="http://www.evodesk.com/img/download-manual.jpg" width="250" height="232" alt="Download Evodesk Manual PDF">
                <h2>Evodesk Assembly Manual</h2><a class="text-link" href="http://www.evodesk.com/manual-v2">Download PDF</a>
              </div>
            </div>
          </div>
        </section>
        <section id="finance">
          <!-- finance section-->
          <div class="wrapper-container">
            <!-- wrapper container div--><img class="absolute z-back" id="financing-standing-desk" src="http://www.evodesk.com/img/white-standing-evodesk-keyboard.jpg" data-echo="img/white-standing-evodesk-keyboard.jpg" width="1116" height="469" alt="financing standing desk">
            <div class="keepItRealContent">
              <h2>Special Offer</h2>
              <h3>Evolve Today.<br><span>Pay Later.</span></h3>
              <p>With PayPal® Credit® you can bring home EvoDesk today with No Payments and No Interest for 6 months*</p><a class="button-outline medium" href="financing" style="border: 2px inset #fff; display:inline-block; margin-right:10px;">Learn More ›</a><a class="button medium" href="https://www.evodesk.com/store/">Shop Now ›</a>
            </div>
          </div>
          <!-- end of wrapper-container div-->
        </section>
        <!-- finance section-->
        <footer id="footer">
          <div class="wrapper-container">
            <ul class="footer-nav" id="footer-row1">
              <li class="footer-title"><a href="http://www.evodesk.com/standing-desks">Products</a></li>
              <li><a href="http://www.evodesk.com/standing-desks">Standing Desks</a></li>
              <li><a href="http://www.evodesk.com/gaming-desk">Gaming Desk</a></li>
              <li><a href="http://www.evodesk.com/standing-desks">Features</a></li>
              <li><a href="http://www.evodesk.com/standing-desks#overview">Watch the Video</a></li>
              <li><a href="http://www.evodesk.com/compare">Compare</a></li>
              <li><a href="http://www.evodesk.com/options">All Options</a></li>
              <li><a href="http://www.evodesk.com/gallery">Gallery</a></li>
              <li><a href="http://www.evodesk.com/reviews">Reviews</a></li>
              <li><a href="http://www.evodesk.com/media/evodesk-brochure.pdf" target="_blank">Brochure</a></li>
              <li><a href="http://www.evodesk.com/manual" target="_blank">Assembly Manual</a></li>
              <li><a href="http://www.evodesk.com/downloads">Downloads</a></li>
              <li><a href="http://www.evodesk.com/specifications">Specifications</a></li>
            </ul>
            <ul class="footer-nav" id="footer-row2">
              <li class="footer-title"><a href="http://www.evodesk.com/store">Get Evodesk</a></li>
              <li><a href="http://www.evodesk.com/store">Evodesk Store</a></li>
              <li><a href="http://www.evodesk.com/shipping">Shipping</a></li>
              <li><a href="http://www.evodesk.com/shipping#returns">Returns and Refunds</a></li>
              <li><a href="http://www.evodesk.com/financing">Financing</a></li>
              <li><a href="http://www.evodesk.com/store/login">My Account</a></li>
              <li><a href="http://www.evodesk.com/store/checkout/cart">View Cart</a></li>
            </ul>
            <ul class="footer-nav" id="footer-row3">
              <li class="footer-title"><a href="http://www.evodesk.com/contact">Get in Touch</a></li>
              <li><a href="http://www.evodesk.com/about">About Us</a></li>
              <li><a href="http://www.evodesk.com/blog">Blog</a></li>
              <li><a href="http://www.evodesk.com/contact">Contact</a></li>
              <li><a href="http://www.evodesk.com/international-shipping">International Shipping</a></li>
              <li><a href="http://www.evodesk.com/contact">Request a Phone Call</a></li>
              <li><a href="http://www.evodesk.com/privacy-policy">Privacy Policy</a></li>
              <li><a href="http://www.evodesk.com/terms-of-use">Terms of Use</a></li>
            </ul>
            <div class="footer clearfix"></div>
            <div id="footer-info"><a href="http://www.evodesk.com">
                <div id="footer-logo"></div></a>
              <p class="copyright">Copyright © 2015 Evodesk.com<br> All Rights Reserved<br><a href="http://www.evodesk.com/privacy-policy">Privacy Policy</a> / <a href="http://www.evodesk.com/terms-of-use">Terms of Use</a></p><br>
              <div id="footer-social">
                <p>Get Social</p><a href="https://www.facebook.com/evodesk"><img src="http://www.evodesk.com/img/facebook-header.png" width="25" height="25" alt="facebook header"></a><a href="https://twitter.com/EvoDesk"><img src="http://www.evodesk.com/img/twitter-header.png" width="25" height="25" alt="twitter header"></a>
              </div><img style="max-width: 200px;              width: 100%;              height: auto;              display: inline-block;              padding: 30px 0 0 0;              -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */              filter: grayscale(100%);              max-width: 165px;              opacity: .65;" src="http://www.evodesk.com/img/payment-methods.png" alt="Secured checkout payment options">
              <p style="color: #666; font-size: 10px; text-transform: uppercase; padding: 0 0 20px 0; margin: 0;">Secured checkout</p>
              <div class="clearfix"></div>
            </div>
          </div>
        </footer>
        <script type="text/javascript">
          var x=document.getElementsByClassName('clickDiv');
          for(var i=0; i < x.length; i++)
          {
          x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
          };
        </script>
      </main>
    </div>
  </body>
</html>
