src/standing-desk-storage.pug
doctype html
html
  head
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WV9HWZH');
    // End Google Tag Manager
    link(rel='dns-prefetch', href='http://www.evodesk.com')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Evodesk Storage Options
    meta(name='description', content='NEED')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/styles.css')
    link(rel='stylesheet', href='../css/navbar-styles.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../js/nav.js')
    script(src='../js/plugins.js')
    script(src='../js/jquery.carouFredSel-6.0.4-packed.js')
    meta(name='p:domain_verify', content='02d8a2265ef5e677ed1c479575789266')
    style(type='text/css').
      #productNav { color: #00bbde;
      box-shadow: inset 0 4px 0 #00bbde;
      }
      @media (min-width: 1300px) {
      #banner { background-position: center 90px;}
      }
      @media all and (max-width: 1000px) {
      #productNav {color: #00bbde !important;}
      }
    // Canonical Link
    link(rel='canonical', href='http://www.evodesk.com/evodesk-pro')
  body#storage-pods
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #max-wrapper
      include navbar
      main.cd-main-content
        section#standing-desk-banner
          .wrapper-container
            #banner-text-wrapper.animated.fadeIn
              #banner-text
                h3 Evodesk Storage Options
          img.product(src='http://www.evodesk.com/img/storage-pod-hero.png', alt='Evodesk Storage Options')

        section#highrise
          img#highrise-img.absolute.z-back(src='http://www.evodesk.com/img/options-highrise.png', data-echo='img/options-highrise.png', alt='highrise desk platform storage', width='1192', height='780')
          // <img src="http://www.evodesk.com/img/blank.png" data-echo="img/options-highrise.jpg" alt="highrise desk platform storage" width="1190" height="801" class="absolute z-back" id="highrise-img">
          .wrapper-container
            .keepItRealContent
              h2 Increase desk space by a remarkable 29%
              h3 Evodesk Highrise
              p
                | With the new Evodesk storage solutions, we introduce the all-new HighRise second space for your desktop. The styling perfectly coordinates with Evodesk while increasing the surface area of your desktop by a remarkable 29%. This massive platform positions your monitor at the ideal ergonomic height, and is large enough to accommodate other accessories like speakers while freeing up valuable desktop space. HighRise features an oversized grommet hole to keep all your cables under control and neatly organized.
            
        section#podplus
          .wrapper-container
          
            img#podplus-img.absolute.z-back(src='http://www.evodesk.com/img/options-options-podplus.png', data-echo='img/options-options-podplus.png', width='851', height='878', alt='pod plus quick access storage')
            .keepItRealContent
              h2 Clever Quick-Access Storage
              h3 Evodesk Pod Plus
              p
                | The all-new Evodesk pods allow you to keep your most important tools close without taking up valuable space on your desktop. The Pod Plus storage space adds up to a massive 2500 cubic inches of quick-access space below your desktop.   The standard Pod adds 1175 cubic inches of quick-access storage space right where you need it.  Store your favorite electronics, tools, and supplies within arm’s reach while maintaining the clean, uncluttered look of your desktop. Add the Pod compartment for additional storage space right where you need it.
            img#podplus-pod-img.absolute.z-back(src='http://www.evodesk.com/img/options-podplus.png', data-echo='img/options-podplus.png', width='1149', height='801', alt='pod plus quick access storage')
        section#pod
          img#pod-img.absolute.z-back(src='http://www.evodesk.com/img/options-pod.png', data-echo='img/options-pod.png', alt='pod quick access storage', width='1249', height='801')
          // <img src="http://www.evodesk.com/img/blank.png" data-echo="img/options-pod.jpg" alt="pod quick access storage" width="1257" height="801" class="absolute z-back" id="pod-img">
          .wrapper-container
            .keepItRealContent
              h2 Clever Quick-Access Storage
              h3 Evodesk Pod
              p
                | With the right equipment, there’s nothing to stop you from taking your goals by storm.  Evodesk introduces three new user-centric solutions that include centrally located storage and a split level desktop. This keeps your tools close, and improves ergonomic positioning.
        include finance
        include join-our-mailing
        include footer
      // #EndLibraryItem
    // Max Wrapper
    script(type='text/javascript').
      // Rotator
      $('#quotes-rotator').jshowoff({
      links: false,
      controls: false,
      effect: 'fade',
      hoverPause: false ,
      changeSpeed: 600,
      autoPlay: true,
      speed: 5000
      });

destination/standing-desk-storage.html
<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WV9HWZH');
    </script>
    <!-- End Google Tag Manager-->
    <link rel="dns-prefetch" href="http://www.evodesk.com">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Evodesk Storage Options</title>
    <meta name="description" content="NEED">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/navbar-styles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/jquery.carouFredSel-6.0.4-packed.js"></script>
    <meta name="p:domain_verify" content="02d8a2265ef5e677ed1c479575789266">
    <style type="text/css">
      #productNav { color: #00bbde;
      box-shadow: inset 0 4px 0 #00bbde;
      }
      @media (min-width: 1300px) {
      #banner { background-position: center 90px;}
      }
      @media all and (max-width: 1000px) {
      #productNav {color: #00bbde !important;}
      }
    </style>
    <!-- Canonical Link-->
    <link rel="canonical" href="http://www.evodesk.com/evodesk-pro">
  </head>
  <body id="storage-pods">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WV9HWZH" height="0" width="0" style="display:none;visibility:hidden;"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div id="max-wrapper">
      <header class="cd-main-header headroom">
        <div class="wrapper clearfix relative"><a id="logo" href="../destination/index.html"></a>
          <ul class="cd-header-buttons">
            <li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
          </ul>
          <!-- cd-header-buttons-->
          <div class="clearfix" id="header-social">
            <ul>
              <li><a id="blog-nav" href="http://www.evodesk.com/blog/">Blog</a></li>
              <li><a id="contact-nav" href="../destination/contact.html">Contact</a></li>
            </ul><a href="http://www.facebook.com/evodesk"><i class="fa fa-facebook-official" aria-hidden="true" style="color:white;font-size:1.75rem;"></i></a><a href="https://twitter.com/EvoDesk"><i class="fa fa-twitter" aria-hidden="true" style="color:white;font-size:1.75rem;"></i></a>
          </div>
        </div>
      </header>
      <script>
        var headroom,myElement;
        $(document).ready(function(){
        // grab an element
        window.myElement = document.querySelector("header");
        // construct an instance of Headroom, passing the element
        window.headroom  = new Headroom(myElement);
        // initialise
        window.headroom.init();
        });
        
      </script>
      <script type="text/javascript">
        $( document ).ready(function() {
        // this does not appear to be used on this page (no #featured-rotator on page) rgentile 2/27/17
        $('#featured-rotator').jshowoff({
        links: false,
        controls: false,
        effect: 'fade',
        hoverPause: true ,
        changeSpeed: 1000,
        autoPlay: true,
        speed: 5000
        });
        });
      </script>
      <script type="text/javascript">
        var x=document.getElementsByClassName('myBox');
        for(var i=0; i < x.length; i++)
        {
        x[i].onclick=function(){window.location=this.getElementsByTagName('a')[0].getAttributeNode("href").value;}
        };
      </script>
      <!-- echo.render(); is also available for non-scroll callbacks-->
      <!-- LOAD FONTS-->
      <script type="text/javascript" src="//use.typekit.net/ter5vyf.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56768912-1', 'auto');
        ga('send', 'pageview');
      </script>
      <script src="js/jquery.carouFredSel-6.0.4-packed.js" type="text/javascript"></script>
      <script type="text/javascript">
        $(function() {
        // this is the brands carousel
        $('#carousel').carouFredSel({
        responsive: true,
        scroll: 1,
        items: {
        width: 300,
        visible: {
        min: 1,
        max: 10
        }
        }
        });
        });
      </script>
      <script type="text/javascript" data-cfasync="false">
        window.onload=function() {
        window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } };
        (function()
        {
        var done = false;
        var script = document.createElement('script');
        script.async = true;
        script.type = 'text/javascript';
        script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
        document.getElementsByTagName('HEAD').item(0).appendChild(script);
        script.onreadystatechange = script.onload = function (e)
        {
        if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
        {
        var w = new PCWidget({c: 'c11372c4-0594-4c31-97b4-0e8fc3b99389', f: true });
        done = true;
        purechatApi.on('chat:operatorJoin', function (args)
        {
        $.post("/store/index.php?route=module/sales_agent", {sales_agent: args.operatorName});
        });
        purechatApi.on('email:send', function(args)
        {
        $.post("//www.spindle360.com/formstack", args);
        });
        }
        };
        })();}
      </script>
      <!-- #EndLibraryItem-->
      <!-- #BeginLibraryItem "/Library/nav.lbi"-->
      <div class="cd-overlay">
        <nav class="cd-nav">
          <ul class="cd-primary-nav is-fixed" id="cd-primary-nav">
            <li class="has-children"><a id="productNav" href="../destination/standing-desks.html">Products</a>
              <ul class="cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#0">Menu</a></li>
                <li class="has-children"><a href="../destination/standing-desks.html">Standing Desks</a>
                  <ul class="is-hidden">
                    <li class="go-back"><a href="#0">Products</a></li>
                    <li><a href="../destination/standing-desks.html">Overview</a></li>
                    <li><a href="../destination/standing-desks.html#features">Features</a></li>
                    <li class="has-children"><a href="#0">Models</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="see-all"><a href="../destination/standing-desks.html#models">All Models</a></li>
                        <li><a href="../destination/standing-desks.html#evodesk-standard">Evodesk™</a></li>
                        <li><a href="../destination/evodesk-pro.html">Evodesk Pro™</a></li>
                        <li><a href="../destination/standing-desks.html#evodesk-studio">Evodesk Studio™</a></li>
                        <li><a href="../destination/evodesk-xe.html">Evodesk XE™</a></li>
                      </ul>
                    </li>
                    <li><a href="../destination/gaming-desks.html">Gaming Desks</a></li>
                    <li class="has-children"><a href="#0">Options & Accessories</a>
                      <ul class="is-hidden options-menu">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="see-all"><a href="../destination/options.html">All Options Overview</a></li>
                        <li><a href="../destination/options.html#controller">Programmable Controller</a></li>
                        <li><a href="../destination/options.html#keyboard-platform">Keyboard Platform</a></li>
                        <li><a href="../destination/options.html#harman-kardon">Harman Kardon® Integrated</a></li>
                        <li><a href="../destination/options.html#ergopro">Ergo Edge Desktop</a></li>
                        <li><a href="../destination/options.html#monitor-arms">Evo Monitor Arms</a></li>
                        <li><a href="../destination/options.html#cable-tray">Cable Management Tray</a></li>
                        <li><a href="../destination/options.html#casters">Casters</a></li>
                        <li><a href="../destination/options.html#treadmill">Treadmill System</a></li>
                        <li><a href="../destination/options.html#cpu-mount">Evo CPU Mount</a></li>
                        <li><a href="../destination/deskshields.html">DeskShields™</a></li>
                        <li><a href="../destination/standing-desk-storage.html">Storage Pods</a></li>
                      </ul>
                    </li>
                    <li><a href="../destination/specifications.html">Specifications</a></li>
                    <li><a href="../destination/gallery.html">Gallery</a></li>
                    <li class="has-children"><a href="#0">Downloads</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li><a href="../destination/downloads.html">All Downloads</a></li>
                        <li class="see-all"><a href="http://www.evodesk.com/media/evodesk-brochure.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>  PDF Brochure</a></li>
                        <li><a href="http://www.evodesk.com/media/evodesk-assembly-v3.pdf" target="_blank">Assembly Manual</a></li>
                        <li><a href="../destination/downloads.html">Evodesk Diagrams</a></li>
                      </ul>
                    </li>
                    <li><a href="https://www.evodesk.com/store/">Store</a></li>
                  </ul>
                </li>
                <li class="has-children bg-grey desktop-only relative" id="index-feature">
                  <!-- <a href="http://www.evodesk.com/standing-desks.html?play=1">Featured Video</a>-->
                  <div class="navtilerow navtilerow1">
                    <div class="navtile tile-explore" data-href="../destination/standing-desks.html">
                      <div>
                        <h1>STANDING DESK COLLECTION</h1>
                        <h2><em>EXPLORE</em> THE POSSIBILITIES</h2>
                        <p>Find out how distinctive design and<br>innovation can elevate your experience</p><a href="../destination/standing-desks.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-elevate" data-href="../destination/standing-desks.html?play=1">
                      <div>
                        <h1><em>ELEVATE</em> YOUR EXPECTATIONS</h1><a href="../destination/standing-desks.html?play=1"><img src="http://www.evodesk.com/img/videoplaybutton.png"></a><a href="../destination/standing-desks.html?play=1">WATCH THE VIDEO</a>
                      </div>
                    </div>
                  </div>
                  <div class="navtilerow navtilerow2">
                    <div class="navtile tile-evodesk" data-href="http://www.evodesk.com/standing-desks.html#evodesk-standard">
                      <div>
                        <h1>Evodesk<sup>™</sup></h1><a href="../destination/standing-desks.html#evodesk-standard">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-evodeskpro" data-href="../destination/evodesk-pro.html">
                      <div>
                        <h1>Evodesk <span>PRO</span><sup>™</sup></h1><a href="../destination/evodesk-pro.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-evodeskxe" data-href="../destination/evodesk-xe.html">
                      <div>
                        <h1>Evodesk <span>XE</span><sup>™</sup></h1><a href="../destination/evodesk-xe.html">LEARN MORE</a>
                      </div>
                    </div>
                    <div class="navtile tile-studiol" data-href="../destination/standing-desks.html#evodesk-studio">
                      <div>
                        <h1>Evodesk <span>Studio L</span><sup>™</sup></h1><a href="../destination/standing-desks.html#evodesk-studio">LEARN MORE</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="../destination/standing-desks.html?play=1">Video</a></li>
            <li><a id="reviewsNav" href="../destination/reviews.html">Reviews</a></li>
            <li><a id="compareNav" href="../destination/compare.html">Compare</a></li>
            <!-- Mobile Only Visible-->
            <li><a class="mobile-only" href="http://www.evodesk.com/about">About</a></li>
            <li><a class="mobile-only" href="http://www.evodesk.com/blog/">Blog</a></li>
            <li><a class="mobile-only" href="../destination/contact.html">Contact</a></li>
          </ul>
          <!-- primary-nav-->
        </nav>
        <script>
          $(function()
          {
          $(".navtile").click(function()
          {
          window.location = $(this).data("href");
          });
          });
        </script>
        <!-- #EndLibraryItem-->
      </div>
      <script type="text/javascript">
        // Rotator
        $('#quotes-rotator').jshowoff({
        links: false,
        controls: false,
        effect: 'fade',
        hoverPause: false,
        changeSpeed: 600,
        autoPlay: true,
        speed: 5000
        });
      </script>
      <style>
        .fader {
        position:relative;
        width:100%;
        min-height:700px;
        }
        .fader-item {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        }
        .visible {
        z-index:999;
        }
        .pantonebanner {
        background-image:radial-gradient(rgba(253,253,253,1) 0%, rgba(153,153,153,1) 80%) !important;
        }
        .pantonebanner h1 {
        color:black !important;
        text-shadow:none !important;
        }
        .pantonebanner h3 {
        color:black !important;
        text-shadow:none !important;
        }
        .pantonebanner p {
        color:black !important;
        text-shadow:none !important;
        }
        @media (max-width:1300px)
        {
        .fader {
        min-height:540px;
        }
        }
        @media (max-width:736px)
        {
        .fader {
        min-height:470px;
        }
        }
        @media (min-width:1300px)
        {
        .pantonebanner #banner-text {
        padding-top:240px !important;
        }
        }
        .pantonebanner #home-banner2 {
        left:31%;
        height:77%;
        }
        .colorswatch {
        box-sizing:border-box;
        position:absolute;
        right:100px;
        bottom:10%;
        background:white;
        padding:2px 2px 6px 2px;
        line-height:1rem;
        font-family:'Proxima Nova', sans-serif;
        box-shadow:0 0 20px 10px rgba(0,0,0,0.1);
        /*-webkit-animation-duration: 2s !important;*/
        /*animation-duration: 2s !important;*/
        }
        .colorswatch .greenerycolor {
        background-color:#85af4b;
        width:145px;
        height:150px;
        margin-bottom:6px;
        }
        .colorswatch h1 {
        color:black !important;
        padding:2px 6px;
        margin:0;
        font-size:1.25rem;
        font-weight:700;
        font-family:'Proxima Nova', sans-serif;
        }
        .colorswatch h1 sup {
        position:relative;
        top:-4px;
        }
        .colorswatch h2 {
        color:black;
        padding:2px 6px;
        margin:0;
        font-size:1rem;
        font-weight:500;
        font-family:'Proxima Nova', sans-serif;
        }
        @media (max-width:736px)
        {
        .pantonebanner #home-banner2 {
        left:11%;
        height:53%;
        }
        .pantonebanner #banner-text p {
        text-shadow: 0 2px 20px rgba(0, 0, 0, 1.0);
        }
        .colorswatch {
        display:none;
        }
        }
      </style>
      <script>
        $(document).ready(function(){
        $('.bxslider-hero').bxSlider({
        auto: true,
        pause: 3500,  // how long each slide is displayed
        mode: 'fade',
        easing: 'easeOutElastic',
        speed:2000,  // speed of fade
        controls: false,
        pager:true,
        infiniteLoop: true
        });
        });
      </script>
      <main class="cd-main-content">
        <section id="standing-desk-banner">
          <div class="wrapper-container">
            <div class="animated fadeIn" id="banner-text-wrapper">
              <div id="banner-text">
                <h3>Evodesk Storage Options</h3>
              </div>
            </div>
          </div><img class="product" src="http://www.evodesk.com/img/storage-pod-hero.png" alt="Evodesk Storage Options">
        </section>
        <section id="highrise"><img class="absolute z-back" id="highrise-img" src="http://www.evodesk.com/img/options-highrise.png" data-echo="img/options-highrise.png" alt="highrise desk platform storage" width="1192" height="780">
          <!-- <img src="http://www.evodesk.com/img/blank.png" data-echo="img/options-highrise.jpg" alt="highrise desk platform storage" width="1190" height="801" class="absolute z-back" id="highrise-img">-->
          <div class="wrapper-container">
            <div class="keepItRealContent">
              <h2>Increase desk space by a remarkable 29%</h2>
              <h3>Evodesk Highrise</h3>
              <p>With the new Evodesk storage solutions, we introduce the all-new HighRise second space for your desktop. The styling perfectly coordinates with Evodesk while increasing the surface area of your desktop by a remarkable 29%. This massive platform positions your monitor at the ideal ergonomic height, and is large enough to accommodate other accessories like speakers while freeing up valuable desktop space. HighRise features an oversized grommet hole to keep all your cables under control and neatly organized.</p>
            </div>
          </div>
        </section>
        <section id="podplus">
          <div class="wrapper-container"><img class="absolute z-back" id="podplus-img" src="http://www.evodesk.com/img/options-options-podplus.png" data-echo="img/options-options-podplus.png" width="851" height="878" alt="pod plus quick access storage">
            <div class="keepItRealContent">
              <h2>Clever Quick-Access Storage</h2>
              <h3>Evodesk Pod Plus</h3>
              <p>The all-new Evodesk pods allow you to keep your most important tools close without taking up valuable space on your desktop. The Pod Plus storage space adds up to a massive 2500 cubic inches of quick-access space below your desktop.   The standard Pod adds 1175 cubic inches of quick-access storage space right where you need it.  Store your favorite electronics, tools, and supplies within arm’s reach while maintaining the clean, uncluttered look of your desktop. Add the Pod compartment for additional storage space right where you need it.</p>
            </div><img class="absolute z-back" id="podplus-pod-img" src="http://www.evodesk.com/img/options-podplus.png" data-echo="img/options-podplus.png" width="1149" height="801" alt="pod plus quick access storage">
          </div>
        </section>
        <section id="pod"><img class="absolute z-back" id="pod-img" src="http://www.evodesk.com/img/options-pod.png" data-echo="img/options-pod.png" alt="pod quick access storage" width="1249" height="801">
          <!-- <img src="http://www.evodesk.com/img/blank.png" data-echo="img/options-pod.jpg" alt="pod quick access storage" width="1257" height="801" class="absolute z-back" id="pod-img">-->
          <div class="wrapper-container">
            <div class="keepItRealContent">
              <h2>Clever Quick-Access Storage</h2>
              <h3>Evodesk Pod</h3>
              <p>With the right equipment, there’s nothing to stop you from taking your goals by storm.  Evodesk introduces three new user-centric solutions that include centrally located storage and a split level desktop. This keeps your tools close, and improves ergonomic positioning.</p>
            </div>
          </div>
        </section>
        <section id="finance">
          <!-- finance section-->
          <div class="wrapper-container">
            <!-- wrapper container div--><img class="absolute z-back" id="financing-standing-desk" src="http://www.evodesk.com/img/white-standing-evodesk-keyboard.jpg" data-echo="img/white-standing-evodesk-keyboard.jpg" width="1116" height="469" alt="financing standing desk">
            <div class="keepItRealContent">
              <h2>Special Offer</h2>
              <h3>Evolve Today.<br><span>Pay Later.</span></h3>
              <p>With PayPal® Credit® you can bring home EvoDesk today with No Payments and No Interest for 6 months*</p><a class="button-outline medium" href="financing" style="border: 2px inset #fff; display:inline-block; margin-right:10px;">Learn More ›</a><a class="button medium" href="https://www.evodesk.com/store/">Shop Now ›</a>
            </div>
          </div>
          <!-- end of wrapper-container div-->
        </section>
        <!-- finance section-->
        <section class="overflow-hidden" id="signup">
          <!-- signup section-->
          <div class="wrapper-container">
            <!-- wrapper container div-->
            <div class="full55 center-all">
              <h2>Join Our Mailing List for</h2>
              <h3><span>Special</span> Offers & Promotions</h3>
              <form class="validate" id="mc-embedded-subscribe-form" action="//evodesk.us9.list-manage.com/subscribe/post?u=20902afe0190d22f00e25dff2&amp;id=089b5b8e10" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
                <input class="required email" id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="Enter Your Email Address">
                <div class="clear" id="mce-responses">
                  <div class="response" id="mce-error-response" style="display:none;"></div>
                  <div class="response" id="mce-success-response" style="display:none;"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;">
                  <input type="text" name="b_20902afe0190d22f00e25dff2_089b5b8e10" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <input class="button" id="mc-embedded-subscribe" type="submit" value="Sign Up" name="subscribe">
                </div>
              </form>
              <p>Private. Secure. Spam-Free.</p>
              <!-- End mc_embed_signup-->
            </div>
          </div>
          <!-- end of wrapper container div-->
        </section>
        <!-- end of signup section-->
        <footer id="footer">
          <div class="wrapper-container">
            <ul class="footer-nav" id="footer-row1">
              <li class="footer-title"><a href="http://www.evodesk.com/standing-desks">Products</a></li>
              <li><a href="http://www.evodesk.com/standing-desks">Standing Desks</a></li>
              <li><a href="http://www.evodesk.com/gaming-desk">Gaming Desk</a></li>
              <li><a href="http://www.evodesk.com/standing-desks">Features</a></li>
              <li><a href="http://www.evodesk.com/standing-desks#overview">Watch the Video</a></li>
              <li><a href="http://www.evodesk.com/compare">Compare</a></li>
              <li><a href="http://www.evodesk.com/options">All Options</a></li>
              <li><a href="http://www.evodesk.com/gallery">Gallery</a></li>
              <li><a href="http://www.evodesk.com/reviews">Reviews</a></li>
              <li><a href="http://www.evodesk.com/media/evodesk-brochure.pdf" target="_blank">Brochure</a></li>
              <li><a href="http://www.evodesk.com/manual" target="_blank">Assembly Manual</a></li>
              <li><a href="http://www.evodesk.com/downloads">Downloads</a></li>
              <li><a href="http://www.evodesk.com/specifications">Specifications</a></li>
            </ul>
            <ul class="footer-nav" id="footer-row2">
              <li class="footer-title"><a href="http://www.evodesk.com/store">Get Evodesk</a></li>
              <li><a href="http://www.evodesk.com/store">Evodesk Store</a></li>
              <li><a href="http://www.evodesk.com/shipping">Shipping</a></li>
              <li><a href="http://www.evodesk.com/shipping#returns">Returns and Refunds</a></li>
              <li><a href="http://www.evodesk.com/financing">Financing</a></li>
              <li><a href="http://www.evodesk.com/store/login">My Account</a></li>
              <li><a href="http://www.evodesk.com/store/checkout/cart">View Cart</a></li>
            </ul>
            <ul class="footer-nav" id="footer-row3">
              <li class="footer-title"><a href="http://www.evodesk.com/contact">Get in Touch</a></li>
              <li><a href="http://www.evodesk.com/about">About Us</a></li>
              <li><a href="http://www.evodesk.com/blog">Blog</a></li>
              <li><a href="http://www.evodesk.com/contact">Contact</a></li>
              <li><a href="http://www.evodesk.com/international-shipping">International Shipping</a></li>
              <li><a href="http://www.evodesk.com/contact">Request a Phone Call</a></li>
              <li><a href="http://www.evodesk.com/privacy-policy">Privacy Policy</a></li>
              <li><a href="http://www.evodesk.com/terms-of-use">Terms of Use</a></li>
            </ul>
            <div class="footer clearfix"></div>
            <div id="footer-info"><a href="http://www.evodesk.com">
                <div id="footer-logo"></div></a>
              <p class="copyright">Copyright © 2015 Evodesk.com<br> All Rights Reserved<br><a href="http://www.evodesk.com/privacy-policy">Privacy Policy</a> / <a href="http://www.evodesk.com/terms-of-use">Terms of Use</a></p><br>
              <div id="footer-social">
                <p>Get Social</p><a href="https://www.facebook.com/evodesk"><img src="http://www.evodesk.com/img/facebook-header.png" width="25" height="25" alt="facebook header"></a><a href="https://twitter.com/EvoDesk"><img src="http://www.evodesk.com/img/twitter-header.png" width="25" height="25" alt="twitter header"></a>
              </div><img style="max-width: 200px;              width: 100%;              height: auto;              display: inline-block;              padding: 30px 0 0 0;              -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */              filter: grayscale(100%);              max-width: 165px;              opacity: .65;" src="http://www.evodesk.com/img/payment-methods.png" alt="Secured checkout payment options">
              <p style="color: #666; font-size: 10px; text-transform: uppercase; padding: 0 0 20px 0; margin: 0;">Secured checkout</p>
              <div class="clearfix"></div>
            </div>
          </div>
        </footer>
      </main>
      <!-- #EndLibraryItem-->
    </div>
    <!-- Max Wrapper-->
    <script type="text/javascript">
      // Rotator
      $('#quotes-rotator').jshowoff({
      links: false,
      controls: false,
      effect: 'fade',
      hoverPause: false ,
      changeSpeed: 600,
      autoPlay: true,
      speed: 5000
      });
    </script>
  </body>
</html>
